[2015-01-29 17:55] mmoreram opened #29 "[Page] Add remove element in lists when is possible"
A page is removable only if this is no persistent.

[2015-02-04 12:30] rogergros commented on #29
Waiting to be merged

[2015-02-04 12:36] rogergros commented on #29
Merged on master

[2015-02-04 12:36] #29 closed

[2015-02-05 14:36] xphere opened #46 "[Admin] Password recovery is not working"
When I'm on `/admin/password/remember` and I fill the form, a link is generated and sent by mail (this can be found in the profiler bar). That link looks like `/admin/password/recover/{recovery_hash}`. Following that link shows an empty bamboo template.

[2015-02-12 15:28] jromero86 opened #58 "Admin create/delete entities"
- Some delete actions not work. I believe we should implement the following code:

return parent::deleteAction(
    $request,
    $entity,
    $redirectUrl
);

- Missing buttons to create and delete entities

Thanks :)

[2015-02-12 15:45] mmoreram commented on #58
Thanks @jromero86. Already working on that :dancer:

[2015-02-12 16:53] mmoreram commented on #58
@jromero86 What entities do U want to create?

Wrong actions are actually merged to master: 8cd25e19e4d8062abc0f7626308e7d6ede94b470

[2015-02-13 15:42] alch opened #68 "Image route should be accessible even if store.under_construction = true"
Due to current implementation of the store enabled event listener, if the store configuration is set to "under construction" no route under the public store will work, not even the `elcodi_media_image_resize` and `elcodi_media_image_view` routes (needed to display images).
Because of this, images in the *admin* also won't be displayed until the `store.under_construction` is set to `false`

[2015-02-13 15:57] xphere commented on #68
Routes under `/images/` enter through a firewall called `public_area` with `security: false`, and the listeners that check for `store.under_construction` and `store.enabled` hang from the `store_area` firewall.

In short, if `elcodi_media_image_resize` and `elcodi_media_image_view` paths start with `/images/`, there should be no problem.

[2015-02-13 16:03] xphere commented on #68
Although we do have a bug when showing comments in the admin, because the urls are like `/api/comment/`, but `/api/` falls back to the `store_area` firewall.

[2015-02-13 16:03] alch commented on #68
@xphere thanks! Then the problem is due to the image path, which in my case is different. Closing

[2015-02-13 16:03] #68 closed

[2015-02-16 16:15] xphere opened #71 "Pricing in product with variant"
When a product with variants is listed, the price shown should be the range of its variants, or the cheaper one. Now it shows the product price, which may be different.

Here in the home, the price shown for this shirt is $7.99

![pricing-in-home](https://cloud.githubusercontent.com/assets/170968/6215244/143fa9e4-b5ff-11e4-9729-63b0dd2427ad.png)

When we enter the product, we see the price range g

[2015-02-16 16:51] alch commented on #71
The cheaper option was meant to be a "starting from ..." information. Maybe this should be configurable

[2015-02-18 12:13] jromero86 opened #77 "Fixes and new features"
- [ ] Ordinations in datatables does not work
- [ ] When modify product, pictures are deleted
- [x] Datetime widget is missing (coupons for example)
- [x] Missing new entities buttons
- [ ] Missing delete entities buttons
- [x] Missing filters in datatables
- [ ] In languages, currency, attributes tabs displays "Showing 1 to 0 of entries"
- [x] Banners are empty
- [ ] Reports are empty

[2015-02-19 09:42] xphere commented on #71
Yes, but there are no variants at $7.99, the cheapest one is as low as $10.99

[2015-02-19 18:26] #46 closed

[2015-02-23 09:13] jromero86 commented on #58
You got here: https://github.com/elcodi/bamboo/issues/77

[2015-02-23 14:26] xphere commented on #58
What's the state on this one? Not fixed?

[2015-02-23 14:37] jromero86 commented on #58
You can close this issue because  #77 is already set.

Thanks!

[2015-02-23 14:38] #58 closed

[2015-02-25 17:48] fjavier-moreno opened #112 "Address in checkout not show city selector"
I can't save my address and continue with checkout due this error.

![city](https://cloud.githubusercontent.com/assets/4962941/6376537/ca880586-bd1e-11e4-902c-2ed62889d925.png)

[2015-02-25 18:01] mmoreram commented on #112
@fjavier-moreno Yes, sure, you need to select a city :)

[2015-02-25 20:28] xphere commented on #112
It may be the javascript not loading, the ajax request failing or the location table being empty… just guessing.

[2015-02-25 20:40] rogergros commented on #112
I've found the bug, I'll solve it ASAP

Sorry @fjavier-moreno

[2015-02-26 07:54] rogergros commented on #112
Solved on https://github.com/elcodi/bamboo/pull/117

[2015-02-26 08:16] #112 closed

[2015-02-26 08:33] xphere opened #118 "Errors in PaymentBridgeBundle"
While running `JMSTranslationBundle`, this bundle tries to "compile" each file and rise two errors in `Elcodi/Store/PaymentBridgeBundle/Entity/PaypalTransaction.php`

- `createdAt` is duplicated, in entity and in `DateTimeTrait`.
- `$this->transactionId` does not exist, but `$this->transaction` do.

The first is an easypick, but I don't know well the intricacies of PaymentBridge to solve the secon

[2015-02-26 09:16] alch commented on #118
@xphere taking a look at it

[2015-02-26 11:41] xphere opened #122 "Styling problems with discounts in checkout"
In the checkout step, with two discounts applied, the screen looks like:

![checkout-step-with-discount](https://cloud.githubusercontent.com/assets/170968/6391243/7bf6920c-bdb4-11e4-82f3-9ef65c48fd40.png)

The discount in the right are shown, but not correctly layed out.

[2015-02-26 11:41] xphere commented on #122
/ping @tonipinel

[2015-02-27 17:01] xphere opened #136 "[Attribute] Name and values are not translatable"

[2015-03-03 10:43] seventhseeker opened #190 "Incomplete order lines at PaymentBridge"
Concept: `Elcodi\Store\PaymentBridgeBundle\Services\PaymentBridge::getExtraData()` returns an array with information about all order articles, not all real order lines.

Problem: PaymentSuite gateways use this method to build the payment form, but shipping, discounts, etc. are not included.

[2015-03-03 11:54] seventhseeker opened #191 "Order line amount at PaymentBridge"
The "amount" value of each order line at `Elcodi\Store\PaymentBridgeBundle\Services\PaymentBridge::getExtraData()` takes the total order line amount, not the unit amount.

[2015-03-03 15:01] alch commented on #191
@seventhseeker thanks, it is indeed an error

[2015-03-03 16:09] jromero86 opened #192 "Admin translations"
Translations are in the app folder and cannot be overridden (For example Blog translates Catalog)

[2015-03-03 16:10] mmoreram commented on #192
What do you mean? Blog translates Catalog?

[2015-03-03 16:13] seventhseeker commented on #191
I think the problem is here: https://github.com/elcodi/bamboo/blob/master/src/Elcodi/Store/PaymentBridgeBundle/Services/PaymentBridge.php#L239

Testing paypal I saw `$orderLine->getAmount()` and `$orderLine->getProductAmount()` return the total amount of the line, not the unit amount.

![image](https://cloud.githubusercontent.com/assets/1076699/6466487/32854b0a-c1c8-11e4-9004-2fd00be47724.png)
![i

[2015-03-03 16:23] jromero86 commented on #192
The word "Blog" is translated as "Catalog"

[2015-03-03 16:30] jromero86 commented on #192
And language selector is missing :)

[2015-03-03 16:33] claretcrab commented on #192
u can overwrite by adding template/translations folder to your template folder, can't u?

[2015-03-03 16:34] mmoreram commented on #192
http://symfony.com/doc/current/cookbook/bundles/override.html#translations

[2015-03-03 16:35] mmoreram commented on #192
Translations is not related to Bundles but to domain. Add your own translations at the end, and that's it :)

[2015-03-03 16:35] mmoreram commented on #192
And yes, selector is missing because there is no languages in the urls yet. Soon.

[2015-03-03 17:15] alch commented on #191
@seventhseeker thanks, checking it

[2015-03-03 17:21] mmoreram commented on #191
@seventhseeker Awesome :) Already working on this! :dancer:

[2015-03-03 17:36] alch commented on #191
See https://github.com/elcodi/elcodi/pull/582

[2015-03-03 18:06] seventhseeker commented on #191
Great!
@alch, @mmoreram thanks

[2015-03-03 19:29] mmoreram commented on #191
PR merged, but This issue will remain opened :) We need to test it with unit and/or functional tests.

[2015-03-04 11:28] claretcrab opened #195 "Cart is not empty after a successful payment"
Steps to reproduce:
- Add an item to cart
- Go to checkout and complete all steps
- Cart is not empty after order success (shipping is added to total)

[2015-03-04 11:44] tonipinel opened #196 "Tables are not responsive"
Try to navigate on a mobile for a list in the admin... is awful.

[2015-03-04 13:20] #195 closed

[2015-03-04 18:04] claretcrab commented on #195
closed, issue due unset custom domain

[2015-03-05 10:06] mickaelandrieu opened #199 "Abandonned dependency"
On ``composer install`` first execution, there is a warning output:

[code]

[2015-03-10 17:58] xphere commented on #190
This has the added problem of PayPal not allowing lines with negative value, thus rendering the discounts unavailable for this platform.

In other related problems, `getExtraData` is meant to be payment-type specific, and we should not rely on it to be in any particular format.

[2015-03-11 09:52] rogergros commented on #192
- The pull request https://github.com/elcodi/bamboo/pull/205 fixes the translation error for "blog" in English.
- To overwrite translations you can use: http://symfony.com/doc/current/cookbook/bundles/override.html#translations
- About multi-language, @mmoreram is working on it and will be added soon

Closing the task

[2015-03-11 09:52] #192 closed

[2015-03-11 12:21] fjavier-moreno opened #207 "Flash messages not shown or shown in wrong environment"
Flash messages with 'error' or 'notice' tag not shown in admin. However, when 'error' or 'notice' flash message is thrown in admin area, it appears in store area.

[2015-03-12 10:40] javiereguiluz opened #208 "Text files should end with a newline character"
**[in app/config/config.yml, line 141](https://github.com/javiereguiluz/bamboo/blob/f4fe3683e71cd60b196d80cab50620eef0dc4d54/app/config/config.yml#L141)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/185c3958-7b84-4a28-9de9-1c553a4c9e6e/analyses/1)_

[2015-03-12 10:45] javiereguiluz opened #210 "Unused use statement should be avoided"
**[in src/Elcodi/Admin/LanguageBundle/Controller/Components/LanguageComponentController.php, line 20](https://github.com/javiereguiluz/bamboo/blob/f4fe3683e71cd60b196d80cab50620eef0dc4d54/src/Elcodi/Admin/LanguageBundle/Controller/Components/LanguageComponentController.php#L20)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/185c3958-7b84-

[2015-03-12 11:08] javiereguiluz opened #212 "Symfony applications should not throw AccessDeniedHttpException"
**[in src/Elcodi/Admin/PageBundle/Controller/PageController.php, line 296](https://github.com/javiereguiluz/bamboo/blob/f4fe3683e71cd60b196d80cab50620eef0dc4d54/src/Elcodi/Admin/PageBundle/Controller/PageController.php#L296)**

[code]

More information: [How to Secure any Service or Method in your Application](http://symfony.com/doc/current/cookbook/security/securing_services.html)

--------------

[2015-03-12 11:15] javiereguiluz opened #214 "Public methods in controller classes should only be actions"
**[in src/Elcodi/Admin/AttributeBundle/Controller/AttributeController.php, line 279](https://github.com/javiereguiluz/bamboo/blob/f4fe3683e71cd60b196d80cab50620eef0dc4d54/src/Elcodi/Admin/AttributeBundle/Controller/AttributeController.php#L279)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/185c3958-7b84-4a28-9de9-1c553a4c9e6e/analyses/1)

[2015-03-12 16:29] #210 closed

[2015-03-12 16:30] #214 closed

[2015-03-12 16:30] #208 closed

[2015-03-12 16:31] #212 closed

[2015-03-12 16:52] claretcrab opened #218 "[Admin] When a product is edited through the admin, the relation product_image disappears"
Steps to reproduce:
- Edit a product in the admin
- The relation product_image disappears

EDIT: In Firefox browser, Chrome is ok

[2015-03-12 17:33] jromero86 opened #219 "negative prices"
We can set negative prices in products and variants.

[2015-03-13 11:00] rogergros opened #223 "Product image is removed when saving product (Firefox)"
- Open Firefox
- Go to any product with image
- Press the save button
- Image is removed from the product

[2015-03-16 00:49] hacfi opened #226 "Translate exceptions"
StorePageNotFoundListener and StoreUnavailableEventListener get the translation key as arguments but don’t actually translate them.

see:
https://github.com/elcodi/bamboo/blob/master/src/Elcodi/Store/CoreBundle/Resources/config/eventListeners.yml
https://github.com/elcodi/bamboo/tree/master/src/Elcodi/Store/CoreBundle/EventListener

[2015-03-16 01:41] hacfi opened #227 "Add installer/wizard for a better DX"
A small web interface like SensioDistributionBundle provides or a cli command could make it a lot easier for beginners.

It should show a status of the installation progress so you can see whether your created the database, created the database schema, imported the fixtures etc.

[2015-03-16 11:27] #218 closed

[2015-03-16 11:27] claretcrab commented on #218
Duplicated #223

[2015-03-18 09:29] jromero86 opened #237 "Admin: currency list url get html injected"
Example:
http://bamboo.shopery.com/admin/currencies/list:
http://bamboo.shopery.com/admin/currencies/list?%3Ci+class%3D%22icon-page%22%3E%3C%2Fi%3E=1

[2015-03-19 11:04] tonipinel opened #243 "Add User support phone to the Config"
It will be great to provide the users a phone to call. Also it's necessary to add the time the phone is available.

[2015-03-19 11:08] tonipinel opened #244 "Add more social networks"
Now is posible to add your facebook and twitter account but it would be interesting to add also this social networks:

- Instagram
- Pinterest
- linkedin
- Google+
- youtube

[2015-03-19 11:09] tonipinel opened #245 "Store location should available to print in templates"
Right now it's posible to add your store address but there is no way to add it to the template

[2015-03-19 11:20] jromero86 opened #246 "Admin: Widget price not well formated"
![captura de pantalla 2015-03-19 a las 12 19 44](https://cloud.githubusercontent.com/assets/5638477/6729405/4c5ab51c-ce32-11e4-8cfb-1e715f0cb11c.png)

[2015-03-19 11:20] tonipinel opened #247 "Image resize modes are useless"
It would be great to have a mode that will crop the image to create thumbnails without blank space

[2015-03-19 11:20] jromero86 opened #248 "Admin: Widget datetime not well formated"
![captura de pantalla 2015-03-19 a las 12 20 01](https://cloud.githubusercontent.com/assets/5638477/6729420/619b9716-ce32-11e4-8983-b91553b3d9cd.png)

[2015-03-19 11:23] xphere commented on #246
That's in every money widget? What browser? /ping @tonipinel

[2015-03-19 11:30] jromero86 commented on #246
Yes. In Firefox.

Thanks!

[2015-03-19 11:30] jromero86 commented on #248
In Firefox and Safari.

[2015-03-19 11:31] mmoreram commented on #248
@tonipinel

[2015-03-19 11:36] xphere commented on #247
We need to put some efforts on this, because image management and rendering is quite hard now.
Usually there are different profiles of images, repeating all over the place. https://github.com/elcodi/elcodi/issues/289#issuecomment-58154499

[2015-03-19 11:41] alch commented on #247
@tonipinel are you talking about [this](https://github.com/elcodi/elcodi/blob/master/src/Elcodi/Component/Media/ElcodiMediaImageResizeTypes.php#L72) ?

[2015-03-23 09:12] rogergros commented on #245
Hey @tonipinel where do you think this is really useful? The footer?

[2015-03-23 09:19] tonipinel opened #253 "Ajax service to add/remove products from the cart"
To create a great UX experience on the store I need an ajax service to add or remove products with the possibility to set the units added or removed.

[2015-03-23 09:21] tonipinel commented on #247
Yes, I'm using the 5 mode but it's not working propertly then, because it's fitting the image in the select area, not cropping.

[2015-03-23 09:22] tonipinel commented on #245
It's should be global, there are to many posibilites.

[2015-03-23 11:05] rogergros opened #254 "Can not display number of purchased units in the shopping cart when above 10 units"

[2015-03-23 11:28] jromero86 opened #255 "ElcodiTwitterBundle and ElcodiFacebookBundle not installed"
In AppKernel.php I have \Elcodi\Plugin\TwitterBundle\ElcodiTwitterBundle() and \Elcodi\Plugin\FacebookBundle\ElcodiFacebookBundle() but this plugins are not in composer.json

[2015-03-23 11:31] jromero86 opened #256 "Fixtures: Catalan language"
Catalan language is active but is not configured in products, categories and pages. Therefore, the store does not work

[2015-03-23 11:33] mmoreram commented on #256
ok

[2015-03-23 11:50] #256 closed

[2015-03-23 12:00] rogergros opened #258 "New attribute page on variant modal shows the menu"
Steps to reproduce:
- Go to edit a product
- Click on "Create my first variant" button
- Click on "+ new attribute" button
- The menu is shown and should be hidden

On the product edit page the buttons "New Variant" & "New attribute" seems not to be working.

[2015-03-23 12:12] jromero86 opened #259 "app/config/security/firewall_local.php needed"
Just as app/config/config_local.php and app/config/routing/routing_local.php

[2015-03-23 12:22] rogergros commented on #255
Hi @jromero86 no plugin is added on bamboo. Bamboo requires **elcodi/elcodi** and its [composer.json](https://github.com/elcodi/elcodi/blob/master/composer.json) requires all the plugins.

[2015-03-23 12:25] mmoreram commented on #255
@rogergros Not actually.

We require elcodi/elcodi in dev, but in prod environment we should add all our dependencies in an individual way.

[2015-03-23 12:27] rogergros commented on #255
@mmoreram then the issue is not related with Facebook or Twitter bundle and is affecting all the plugins, isn't it?

[2015-03-23 12:28] mmoreram commented on #255
right. Just pushing the changes.

[2015-03-23 12:29] rogergros commented on #255
@mmoreram thanks :+1:

[2015-03-23 12:30] mmoreram commented on #255
https://github.com/elcodi/bamboo/pull/261

[2015-03-23 12:30] #255 closed

[2015-03-23 12:33] alch commented on #253
Ping @claretcrab. Can you share your work about the `add`/`remove` rest api?

[2015-03-23 12:36] mmoreram commented on #259
Could you please add them in a PR?

Thanks.

[2015-03-23 13:54] claretcrab commented on #253
For product add:
[code]

[2015-03-23 14:05] alch commented on #253
@claretcrab I was talking about a PR! :sweat:

[2015-03-23 14:09] claretcrab commented on #253
Ah XD ok
But isn't a REST API, just a Controller that does the same as CartController with an Exception for bad Requests an JSON response.

[2015-03-24 09:33] fjavier-moreno opened #266 "No tax admin section"
I unable to find the way to create, edit or remove taxs in Bamboo admin.

[2015-03-25 09:29] rogergros opened #270 "Add address info on cart preview during checkout"
When a billing and delivery address is selected on the checkout process on info about the choice is shown on the checkout preview.

[2015-03-25 11:35] tonipinel commented on #223
Finally some light here, It's a bug on Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=274795

The problem is that selected="selected" it's not working well in firefox and to save the image we use a hidden select. We want to improve this in the future but it seems that it's time do it now.

@rogergros we need to change the current behavior in the frontend and the backend side. Maybe we can u

[2015-03-25 11:41] tonipinel commented on #246
Solved! Thanks for your help :)

[2015-03-25 11:41] #246 closed

[2015-03-25 11:41] tonipinel commented on #248
Solved! Thanks for your help :)

[2015-03-25 11:41] #248 closed

[2015-03-25 11:41] tonipinel commented on #258
Solved! Thanks for your help :)

[2015-03-25 11:41] #258 closed

[2015-03-25 11:41] tonipinel commented on #254
Solved! Thanks for your help :)

[2015-03-25 11:41] #254 closed

[2015-03-25 11:41] tonipinel commented on #196
Solved! Thanks for your help :)

[2015-03-25 11:41] #196 closed

[2015-03-25 11:42] tonipinel commented on #247
Perfect! Thanks a lot :)

[2015-03-25 11:42] #247 closed

[2015-03-25 16:05] jromero86 commented on #259
Done! Added accessControl_local.yml and firewalls_local.yml.
https://github.com/elcodi/bamboo/pull/276

[2015-03-25 17:31] claretcrab opened #278 "Wrong total price in paypal payment"
- shipping amount is no added to total price
- total price = total price * quantity (instead of total price)

See use case:
3 x 5.95€ = 17.85€
shipping: 4.95 €
total = 22.8 €

in paypal = 53.55 € ( 17.85 x 3 )

[2015-03-25 17:44] xphere opened #279 "[User] Logged users marked as non-authenticated"
When you log in as a `Customer` or as an `AdminUser`, the Symfony ToolBar shows a yellow badge for the username and a red badge for authentication, when both should be green.

This is a sign that we're doing something wrong with credentials, but I can't find what is it.

![security-admin](https://cloud.githubusercontent.com/assets/170968/6831068/574e72ec-d31e-11e4-9d74-f763c1e6f42f.png)

![securit

[2015-03-25 17:51] xphere commented on #279
Ok, I found it the very moment I sent the issue: we're missing to load the `app/security/accessControl.yml` file. The file is there, but not referenced anywhere. PR is coming.

[2015-03-25 18:08] xphere commented on #259
I don't see the use for those files, it doesn't make sense to me, because `symfony.firewalls` and `symfony.access_control` can't be overriden once defined. If they're set in two or more places, an exception will throw.

But the missing reference to `accessControl.yml` in `security.yml` is quite interesting, since this will fix https://github.com/elcodi/bamboo/issues/279.

[2015-03-25 18:18] xphere commented on #278
This may be related to https://github.com/elcodi/bamboo/issues/190 and https://github.com/elcodi/bamboo/issues/191, besides PR https://github.com/elcodi/elcodi/pull/582.

[2015-03-25 18:30] xphere commented on #118
ping @alch what's the state of this?

[2015-03-25 18:33] xphere commented on #199
This dependency is now removed. Thanks @mickaelandrieu!

[2015-03-25 18:33] #199 closed

[2015-03-25 18:37] xphere commented on #245
As decided in today's meeting this will be a twig function, the first of a serie, to be able to reach the model from the view.

[2015-03-25 18:40] xphere commented on #244
I'll take a look at this and see how this integrate into the system.

Maybe what we need is something like a split plugin, with a core `SocialWidget` and many `SocialPlugin`, one for each social network.

Does this make sense? /ping @elcodi/owners

[2015-03-25 18:50] mmoreram commented on #244
Well, I think it make sense to have all of them in one Bundle... I mean, is just the same but with differents providers. Just my opinion :)

[2015-03-25 19:31] xphere commented on #253
Instead of checking for `$request->isXmlHttpRequest` inside the controller, [you can make this test in route definition](http://symfony.com/blog/new-in-symfony-2-4-the-expressionlanguage-component#routing).

[2015-03-26 08:05] tonipinel commented on #207
I think this is solved on https://github.com/elcodi/bamboo/pull/275

@fjavier-moreno can you check this?

[2015-03-26 08:07] rogergros commented on #207
@tonipinel I think that Aldo added the "error" but a "notice" or "info" will still be needed :)

[2015-03-26 08:15] rogergros commented on #223
@tonipinel  Ok, today we'll try to solve that

[2015-03-26 11:33] jromero86 commented on #259
If I have to modify the firewall or add more access controls, the merge will fail to modify the same file.

[2015-03-26 15:00] alch commented on #118
@xphere follow-up on #284

[2015-03-26 15:54] jromero86 opened #286 "Delete products"
When I press to delete a product that has been purchased, it fails. Maybe should see if the product has relationships before deleting it? And if have relationships, disable rather than delete?
![captura de pantalla 2015-03-26 a las 16 50 23](https://cloud.githubusercontent.com/assets/5638477/6850295/a233856c-d3d8-11e4-8130-832967aedb33.png)

[2015-03-26 16:56] tonipinel commented on #223
Solved! Thanks for your help

[2015-03-26 16:56] #223 closed

[2015-03-26 17:17] tonipinel commented on #122
This was solved some weeks ago. Thanks for your help!

[2015-03-26 17:17] #122 closed

[2015-03-26 17:21] tonipinel commented on #71
@xphere  @alch  The problem is in the _product.item.html.twig file, because even if the product has variants it's showing the product price... and the current 7.99 is the reducedPrice of the product. But to make this work propertly i need a way to get the cheapest price of the variants.

[2015-03-27 08:41] xphere commented on #279
Fixed in #283

[2015-03-27 08:41] #279 closed

[2015-03-27 08:48] xphere commented on #226
This is translated in [error503.html.twig](https://github.com/elcodi/bamboo/blob/master/app/Resources/TwigBundle/views/Exception/error503.html.twig#L5) and will be improved in https://github.com/elcodi/bamboo/pull/241

[2015-03-27 09:32] xphere commented on #207
This is something to support in the template, so I'm going to nominate @tonipinel. Thee I invoke!

[2015-03-27 10:30] alch commented on #207
@fjavier-moreno this PR should have fixed it https://github.com/elcodi/bamboo/pull/275

[2015-03-27 10:33] xphere commented on #71
Sure, we really need that. Some solutions come to mind:
- `getCheapestVariant`: Return the whole cheapest variant.
- `getPriceRange`: Return a pair with the cheapest and the most expensive prices.

Any ideas? /cc @elcodi/owners

[2015-03-27 11:46] xphere commented on #118
Should this be closed then?

[2015-03-27 19:12] xphere commented on #259
Just replace importing `firewall.yml` to your own `firewall.local.yml`. This is harder that conflicts with our changes in the future. Same for `accessControl.yml`.

If you try to add both `firewall.yml` and `firewall.local.yml`, the cache compilation will fail.

[2015-03-30 08:24] alch commented on #118
@xphere not that it's merged sure

[2015-03-30 08:26] rogergros commented on #286
In fact whe should rethink all the "deletes" from bamboo. A product should never be deleted but "disabled" or "marked as deleted".

What do you think @elcodi/deciders ?

[2015-03-30 08:30] alch commented on #286
Agree that a product should never be deleted if it has references in other tables.

The **long** solution is to implement an optional *softdeletable* behavior. We should create an RFC for that.

[2015-03-30 08:41] jromero86 commented on #286
Then you have to replace the delete button by button disable

[2015-03-30 08:43] alch commented on #71
I'd just use an injectable **strategy** that in the default implementation would just return the *cheapest* price from the `Variant` collection.

[2015-03-30 08:53] rogergros commented on #286
Well, you can show a "delete" button for the user and "mark it as deleted" on the database. The user will never know :)

[2015-03-30 08:54] #118 closed

[2015-03-30 08:57] rogergros commented on #71
I would also prefer to send always the price "range" so you can decide what to show.

[2015-03-30 09:07] seventhseeker opened #292 "Create some category levels on Admin"
You can't create a category tree over 2 levels deep.

Limited to 2 at listComponent:
https://github.com/elcodi/bamboo/blob/master/src/Elcodi/Admin/ProductBundle/Resources/views/Category/listComponent.html.twig#L80

Limited to root categories at editComponent
https://github.com/elcodi/bamboo/blob/master/src/Elcodi/Admin/ProductBundle/Resources/views/Category/editComponent.html.twig#L94

[2015-03-30 09:12] rogergros commented on #292
Almost everything it's prepared to be "multi-level" and not only "2 levels deep" but we decided to move forward and add this feature in the future.

I'm not sure if we should add this to the `v1.0`, what do you think @elcodi/deciders & @tonipinel

[2015-03-30 10:02] #207 closed

[2015-03-30 10:03] rogergros commented on #207
@tonipinel Still no "notice" or "info" message. Isn't it?

[2015-03-30 10:29] xphere commented on #292
I'm afraid this won't happen soon, as we don't need more than two levels for our `v1.0`. I don't think this would be too dificult to do (a recursive macro for twig or change in admin design), but our focus is now in other areas, so feel free to do a PR. :wink:

[2015-03-30 13:54] rogergros opened #295 "Weight should be decimal"
In the bamboo admin, when you add or edit a product you can add the weight for it.

Right now it's an integer but should be a decimal number like price.

![weight](https://cloud.githubusercontent.com/assets/2053670/6897609/0ce9e292-d6f5-11e4-94dc-f9aa23cdf326.png)

[2015-03-30 14:03] rogergros opened #296 "Description not saved when editing HTML"
- Go to a product with description
- Edit the description on html
- Save the product
- Description has not been saved
- Go to the product again
- Edit html description
- Press the button to "visual" again
- Save the description
- Description has been saved

Ping @tonipinel

[2015-03-30 22:12] mmoreram commented on #286
A product should be deletable, of course.

It means that all the relations should be able to manage this behavior. We have tried the *softdeletable* and is not usable. If you want to delete a product, then you should be able to do that.

[2015-03-31 05:33] jromero86 commented on #286
But it's a bug. Because now I have a platform with functionality to delete products and if I click gives a 500 error.

I understand as a programmer, I can fix. But elcodi not offer the platform for any type of profile you can use? Just ask is to change the delete button for disable button.

[2015-03-31 05:57] rogergros commented on #286
We have a bug there, of course. Any button should return a 500 error. The thing here is, which is the right behavior to fix here @jromero86

The user should be able "to delete" a product? In my opinion, not really. Yes, the user should think that the product is deleted but the entity should not be really removed (Soft delete).
If you have already tried that, it would be a good idea to share this k

[2015-03-31 07:57] jromero86 commented on #286
I think it's best to mark the product as soft delete and hide that product lists. As can be seen by reference to an order.

[2015-04-01 07:38] irozgar opened #303 "Can't change languages in pages"
When viewing a page language changes are ignored. `?_locale=[language]` is added to the URL.

The page can be seen in different languages depending on the language of the page you're coming from.

[2015-04-01 09:57] jromero86 commented on #223
Not solved @tonipinel

[2015-04-01 10:00] jromero86 commented on #223
Now solved: https://github.com/elcodi/bamboo/pull/304

[2015-04-01 10:17] jromero86 commented on #207
Not fixed @alch

[2015-04-01 14:38] mmoreram opened #306 "FormTypes should use factories to instanciate empty_data"
Instead of using the create method inside (it means that always is created, even if is not used...), we should use an anonymous function, like is shown here.

[code]

[2015-04-01 14:40] jromero86 commented on #237
I solved here: https://github.com/Frontendcore/frontendcore/pull/8

[2015-04-01 15:26] xphere commented on #306
:+1: is this a BC? BeCause we can fix it rait nao.

[2015-04-02 13:07] mickaelandrieu opened #311 "Improve the command of activation of a store"
*this is a DX suggestion*

The actual command from docs is hard to learn:

[code]

I suggest:

[code]

[2015-04-02 13:59] xphere commented on #311
I think this has more sense to exist in Bamboo than inside Elcodi. /ping @mmoreram

[2015-04-02 14:09] mickaelandrieu commented on #311
this is a suggest in bamboo repository :-)

[2015-04-02 14:10] edgartebar opened #312 "List languages problem"
When i login in admin(Bamboo) in Catalan(or another that is not the default language) and go to language list section and the number of rows are 10, the checkslider of catalan is checked as a default language but is spanish.

If i change the number of rows to see, spanish is the default language.
![lista10](https://cloud.githubusercontent.com/assets/6939934/6965551/b7bcceb4-d952-11e4-965f-f4ba8fc0

[2015-04-02 14:12] xphere commented on #311
Sorry, the namespace of the command has puzzled me. :sweat:

[2015-04-02 14:15] mickaelandrieu commented on #311
@xphere you are right, let me improve my syggest ;)

[2015-04-02 14:54] edgartebar commented on #312
The issue appears beacause Master Language property is type="radio", and the condition is "if entity.enabled", then checks the last enabled item that appears on the list.

[2015-04-02 14:57] mmoreram commented on #312
Hi!

Thanks for the issue. This is something we must resolved for `v1.0`, and ASAP. The problem is that ... this is not implemented yet XD

First checkbox is not working. I have added some checkboxes in the description of this issue in order to do it step by step :)

[2015-04-02 17:02] mmoreram opened #314 "Final prices for Products with variants."
When a product has variants, the principal price is the one set in the product, even if the variants have special prices.

What should be the behaviour for that?
* If the product has a price to show, then this price is shown
* The product price is ignored, and the minimum variant price is shown

[2015-04-02 17:10] mmoreram opened #315 "[Address] Customer addresses editables in admin"
Customer addresses should be editables in admin by any administrator.

[2015-04-02 17:30] mmoreram opened #316 "[Address] Issue in profile"
Address is not working properly. Page is loading all postalcodes.

[2015-04-02 19:08] mmoreram commented on #295
Edit:

What's wrong is the `Kg`. We will use `cm` instead.
To allow multiple scales in units, new shop entity will allow to change this values.

[2015-04-02 19:16] #295 closed

[2015-04-03 09:09] tonipinel opened #320 "Checkout Login/register"
As user
If i'm not Logged and I want to checkout
I want to be able to register in the checkout process and continue to next step but also have a link to login (and if i login go also to the next step)

[2015-04-03 09:10] tonipinel opened #321 "Checkout new address"
As user
If I don't have addresses and I add a new one
This address should be used as my address, so it's not necessary to select what address i want to use and you can send me to the payment step

[2015-04-03 09:13] tonipinel opened #322 "Checkout: If have one address go directly to payment"
As user
If i have one address added to my profile
set this address as my default and always go directly to the payment options, but showing me my address and a link to change it if it's necessary.

[2015-04-04 21:24] mmoreram commented on #316
ping @rogergros I cannot find the issue :( Can you take a look at that please?

[2015-04-05 10:11] rogergros commented on #316
Hey @mmoreram I just installed Bamboo right now and It's working for me on both admin and store address pages... @claretcrab told me about a similar problem some days ago but he didn't mentioned again.

Maybe he can help us... :)

[2015-04-05 10:17] claretcrab commented on #316
Try to clean doctrine's metadata cache and regenerate schema update.

[2015-04-07 06:59] rogergros commented on #321
What happens if I want to add two addresses, one for payment and another for shipping? Added to https://github.com/elcodi/bamboo/issues/322 you are not allowing the user to do this, he should know that has to go to his panel, create a new address and so on...

Imagine:
- User wants to pay
- A page to add an address appears
- He gets redirected to the payment step
- Tries to go back to addresses
-

[2015-04-07 07:13] rogergros commented on #295
:+1:

[2015-04-07 07:20] rogergros commented on #315
Keep in mind the `AddressManager` to save the address ;)

[2015-04-07 18:37] cordoval commented on #316
you guys are talking about this one right?

![screen shot 2015-04-07 at 1 35 33 pm](https://cloud.githubusercontent.com/assets/328359/7030558/16dea33c-dd2b-11e4-87c0-359bccf2f575.png)

If so i can corroborate that is loading the whole selection and is not filtering.

[2015-04-09 09:04] xphere opened #336 "[Media] Image selection"
We currently support only to upload new images, not to select an already uploaded one. This may be needed to reuse images without resubmitting, and also to unify the interface between galleries and single images.

A nice addition would be to have an image placeholder with drag&drop support to upload new images and click to open the full media gallery.

/cc @tonipinel

[2015-04-10 18:06] rogergros opened #342 "Admin forms don't show errors"
In all the admin forms, if a field is wrong the form is showed again without a notice or error.

[2015-04-13 11:22] claretcrab opened #354 "Checkout with coupon fails"
Bug is present after merged last bamboo tag 0.5.4

Do a checkout with coupon (5euros) ->
[code]

[2015-04-13 11:23] mmoreram commented on #354
Fixing...

[2015-04-13 11:35] mmoreram commented on #354
@claretcrab Tests are passing, all of them... and I don't really see where the problem is :S

[2015-04-13 13:57] mmoreram commented on #316
Nopes. It was not an issue indeed, but local cache stuff :(

Closing.

[2015-04-13 13:57] #316 closed

[2015-04-13 14:00] mmoreram commented on #321
@rogergros is right...

This test will test that created address is selected on both ways...

[2015-04-13 16:11] tonipinel commented on #336
I like the idea. Let me think about it

[2015-04-14 06:14] xphere commented on #71
This popped back yesterday in a conversation with @tonipinel, @rogergros and @mmoreram.
In the template we need to:
- Check if the product has variants.
- Get the cheapest price of the product (if it has variants, the cheapest).
- Know if the cheapest price is on sale (`reducedPrice`) or not (`price`).

This can be done with a single `ProductView` in `elcodi/bamboo`, which will receive and decorat

[2015-04-14 06:16] xphere commented on #77
Are those fixed now?

[2015-04-14 06:17] xphere commented on #190
@alch Are this fixed with the latest changes in paymentsuite?

[2015-04-14 07:53] xphere commented on #237
Thanks! Fixed

[2015-04-14 08:28] xphere commented on #245
Still we need to agree in the format and use cases for this kind of options.

[2015-04-14 08:30] xphere commented on #296
Is this fixed?

[2015-04-14 08:31] rogergros commented on #296
As far as I know, nothing has been done about this issue.

[2015-04-14 08:35] xphere commented on #303
Page routes are marked as "i18n not compatible" right now, so that's why your seeing this.
I can't think in a solution, since I'm not proficient enough with `JMSI18nRoutingBundle`. Maybe @mmoreram can shed some light?

[2015-04-14 08:36] xphere commented on #306
Closed as this was fixed in related PR

[2015-04-14 08:36] #306 closed

[2015-04-14 08:38] xphere commented on #311
Any new suggestions? :wink:

[2015-04-14 08:48] mickaelandrieu commented on #311
@xphere I did, i have updated my commands :+1:

[2015-04-14 08:54] xphere commented on #311
I'm thinking this will make more sense when we create a `Store` entity…
[code]

[2015-04-14 09:07] mickaelandrieu commented on #311
@xphere agree :)

[2015-04-14 10:03] tonipinel commented on #296
It's not fixed, i will do it soon

[2015-04-14 15:14] #354 closed

[2015-04-16 03:08] cordoval opened #370 "http://bamboo.elcodi.com/ broken"

[2015-04-16 13:39] mrlicenser opened #371 "Add a License"
Please add a license.

[2015-04-16 13:40] #371 closed

[2015-04-16 13:41] cordoval commented on #371
https://github.com/elcodi/bamboo/blob/master/LICENSE

this should be closed

[2015-04-16 13:41] mmoreram commented on #371
@cordoval BOT! XD

[2015-04-16 13:42] mmoreram commented on #370
Solving this... Thanks :)

[2015-04-16 17:09] alch commented on #190
@xphere shipping was added in #282. This is supposed to be working now. Keep in mind that a huge RFC is about to come about all this.

[2015-04-16 17:10] alch commented on #190
@xphere [this](https://github.com/PaymentSuite/PaypalWebCheckoutBundle/pull/27) is the PR in paymentsuite

[2015-04-19 03:54] cordoval opened #382 "Filter by enabled and others on admin languages"
![screen shot 2015-04-18 at 10 53 57 pm](https://cloud.githubusercontent.com/assets/328359/7218073/d6b105a6-e61d-11e4-81ad-ecbdd460ea28.png)

[2015-04-19 04:01] cordoval opened #383 "error when deleting images from media"
![screen shot 2015-04-18 at 11 00 37 pm](https://cloud.githubusercontent.com/assets/328359/7218096/c63b379a-e61e-11e4-88f6-b68ddca25a2b.png)

[2015-04-23 08:39] cordoval opened #396 "can we collapse all into a single bundle app?"

[2015-04-23 09:40] alch commented on #396
Now that the boundary between elcodi and bamboo configuration is more clear, it makes sense to discuss it.
The main concern was that with bundles you can "switch off" parts of the application by not loading the bundle in `AppKernel`.
Moreover it will be a problem for people that bases their work on bamboo. I would discuss it for a `v2.0` (not `v1.0`)

[2015-04-23 12:02] cordoval commented on #396
you can switch off also with a single bundle, so no difference there

I think it will help people to understand elcodi and will also help us writing documentation :)

[2015-04-23 14:54] cordoval commented on #396
closing as this will not happen after discussing with @mmoreram on gitter

[2015-04-23 14:54] #396 closed

[2015-04-24 10:46] xphere commented on #270
Was this one solved? /cc @tonipinel @rogergros

[2015-04-24 10:47] xphere commented on #278
Is this fixed in #282? Can we close? /cc @claretcrab

[2015-04-24 10:48] xphere commented on #292
@seventhseeker I know you're kinda busy, but have you had time for this? :wink:

[2015-04-24 10:49] xphere commented on #303
/ping @mmoreram

[2015-04-24 10:50] xphere commented on #311
Anyone to discuss about a Store entity? /cc @elcodi/deciders

[2015-04-24 10:55] xphere commented on #314
We need to talk about this. Leave this decision to the final developer? Create many policies and set in compiler time? Hardcode this in a service of our own and let the end developer to replace it?

[2015-04-24 10:57] #370 closed

[2015-04-24 10:58] claretcrab commented on #278
sure, thanks!

[2015-04-24 10:58] #278 closed

[2015-04-24 10:59] #226 closed

[2015-04-24 11:00] xphere commented on #190
So, was this fixed in #282 then?

[2015-04-24 11:03] hacfi commented on #226
:+1:

[2015-04-24 11:12] xphere commented on #77
I think all of those are fixed now. Open a new specific issue if anything.

[2015-04-24 11:12] #77 closed

[2015-04-24 11:14] #237 closed

[2015-04-24 11:16] #259 closed

[2015-04-24 11:16] mmoreram commented on #303
working on this.

[2015-04-25 18:01] cordoval commented on #219
If this was merged then this should be closed @mmoreram

[2015-04-25 18:10] #219 closed

[2015-04-26 00:26] #303 closed

[2015-04-26 01:54] mmoreram commented on #383
@cordoval I cannot reproduce this case. Can you please write a user story when this happens? Then we'll be able to create a test :)

Thanks!

[2015-04-26 01:55] mmoreram commented on #382
@cordoval Yes, this is a feature we still need to do. I change the title to transform this to an opened issue/feature.

Thanks.

[2015-04-26 01:56] mmoreram commented on #382
@rogergros Can you please take care of this?

[2015-04-26 01:57] mmoreram commented on #342
@rogergros Can you please be in charge of this? We'll have to implement this in Shopery as well, so... we can do it here, right? cc/ @xphere

[2015-04-26 01:58] mmoreram commented on #336
ping @tonipinel @xphere Any update on that?

[2015-04-26 02:00] mmoreram commented on #312
ping @rogergros Same as other issue, related to Languages. Can you take care of that as well?

[2015-04-27 11:11] mmoreram opened #407 "Speeding queries in Store pages"
In some pages, we are not taking care about number of Doctrine queries. This is easily solvable, just creating specific QueryBuilders where is needed or by creating *eager* relations between entities where is really necessary.

Right now, we'll take care just in the Store, trying to reduce as much as possible the number of queries.

- [ ] Homepage
- [ ] Category page
- [ ] Product page without var

[2015-04-28 09:36] rogergros opened #413 "Upload image testcases"
:exclamation: Ideal testcases :exclamation:

**Feature:**
In order to have images on the product
As admin
I want to upload images on the product page

**Feature:**
In order to have images on variants
As admin
I want to upload images on the product variant page

[2015-04-28 12:02] cordoval commented on #413
Fature -> Feature

[2015-04-28 15:30] claretcrab opened #421 "Bamboo banners in admin"
Hi,

An empty page is shown when I go to http://bamboo.elcodi.com/admin/banners

It's a bug, disabled or deprecated for some reason?

Thanks!

[2015-04-30 08:22] mmoreram commented on #421
@claretcrab Not implemented yet :)

[2015-05-05 22:57] cordoval commented on #407
This is not very clear to me @mmoreram can you please provide an example/more detail?

[2015-05-05 23:03] cordoval commented on #311
I am :-1: on this, mainly because i rather have a more standard robust way of setting config values, kind of like you do with git config ... where you set key values. I believe we can do the same and simplify this a lot.

[2015-05-07 16:37] mmoreram opened #439 "Naming in Bamboo"
We still have some names in bamboo with old style.

* elcodi.admin.store.form_type.store
* elcodi.admin.page.form_event_listener.permanent_page
* store.cart.form_type.cart_line

I propose to use same style than elcodi but adding `store` or `admin` in the namespace.

* elcodi.admin.form_type.store
* elcodi.admin.event_listener.form_permanent_page
* elcodi.store.form_type.cart_line

This implementat

[2015-05-07 16:37] mmoreram commented on #439
@cordoval Are you free for this issue? :)

[2015-05-07 16:39] xphere commented on #439
What I wonder is… why naming things in Bamboo like `elcodi.*` instead of the more specific `bamboo.*`?

[2015-05-07 16:42] mmoreram commented on #439
Yes, good question.

It is all about an interesting topic when ir refers to an FOS project. Is about *branding focus*. If we use in Bamboo the namespace ''elcodi.*` then we are introducing this word in more files. It means more recognition of our project and brand, focusing all our efforts in one single word.

Elcodi

This is why I decided not to split between *elcodi/* and *friends-of-elcodi/*. T

[2015-05-07 16:56] cordoval commented on #439
:blush: i will tackle it for the prize just bear with me :+1: thanks @mmoreram

[2015-05-07 16:59] xphere commented on #439
But, if we start using `bamboo` in our definitions, it makes more clear this is specific for the Bamboo project, and not available from Elcodi packages. A person learning Elcodi through study of Bamboo, may try to use a service that will not exist in a clean Elcodi project.

Can I suggest `bamboo.elcodi.*` to have best of both worlds?

[2015-05-07 17:09] mmoreram commented on #439
Let's add some nice conversation there.

ping @alch @claretcrab @mickaelandrieu @rogergros @octante Please, I invoke your feedback about this.

@cordoval Let's wait for the resolution of this discussion before starting implementing. Thanks :D

[2015-05-07 17:12] cordoval commented on #439
i think bamboo is kind of like the integrator of elcodi services, so it shows how typical services ought to be constructed, i say we stick to elcodi one word approach but use something like generic to refer to it as the glue. ```elcodi.bamboo.*```

[2015-05-07 21:05] mickaelandrieu commented on #439
:+1: for elcodi.bamboo.* this approach can be accepted by both @mmoreram and @xphere

[2015-05-07 21:12] octante commented on #439
Hi!

yes, elcodi.bamboo seems a good option. I agree with @xphere, is important people can distinguish between elCodi and bamboo, is not easy for new users, is very confusing for people that don't know elCodi project.

[2015-05-09 00:52] cordoval commented on #439
thanks @octante :blush:

@mmoreram does this mean now that it is actionable? can I proceed? :older_man:

[2015-05-09 10:13] mmoreram commented on #439
@cordoval Ok with `elcodi.bamboo.*`

[2015-05-09 14:49] mmoreram commented on #439
@cordoval Ping me as soon is ready :)

[2015-05-11 16:03] rogergros opened #449 "Kernel exception is being launched before firewall listener"
Right now the kernel.exception event (e.g. when I try to access a non existent page) is being launched before the firewall listener can determine in which firewall you are.

That seems to happen because the I18nRouter from the JMS I18nRoutingBundle is launching the exception before the firewall is determined.

That makes impossible to customize the exception usong the Bamboo CoreBundle StoreHttpEx

[2015-05-12 09:19] mmoreram opened #450 "[Translations]"

[2015-05-12 10:06] fweber-de commented on #450
Hey there, I would be able to do some German translations.
Where can i start?

[2015-05-12 10:15] mmoreram commented on #450
@fweber-de We! Great news :D:D:D Thanks!

I've updated the Issue description. Don't hesitate to ping us in [Gitter](http://gitter.im/elcodi/elcodi) if you have any issue :D

[2015-05-12 10:30] fweber-de commented on #450
Alright i will get started then ;)

[2015-05-14 10:58] octante opened #457 "Bug in dynamic tables"
As an admin when I apply a filter in a dynamic table (for example, in languages table) and try to enable/disable a language I can't, ajax is not executed.

The reason seems needs to bind again change event. I'm searching in on-off-table.js, where switch event is binded, but I don't see the solution.

This problem is in all tables formularies.

Thanks.

[2015-05-14 10:59] mmoreram commented on #457
Ping @tonipinel

[2015-05-14 11:00] octante commented on #457
Thanks @mmoreram :)

[2015-05-16 23:38] cordoval commented on #439
I have started it on #460

[2015-05-19 15:33] alch opened #467 "French and German translation"
We need a simple translation (French and German) for the following sentence

`This coupon can be applied when other coupons are present`

It is needed for a new translation key `admin.coupon.field.stackable.title`. The context is the creation of a new `Coupon` that can be stacked onto an already applied discount `Coupon`.

[2015-05-19 15:33] alch commented on #467
Ping @mickaelandrieu
Ping @hacfi

[2015-05-19 15:35] mmoreram commented on #467
ping @fweber-de

[2015-05-19 15:38] alch commented on #467
@mmoreram we also need the Catalan translation!

[2015-05-19 15:38] mmoreram commented on #467
@alch There I go!

[2015-05-19 15:47] mickaelandrieu commented on #467
"Ce coupon peut être appliqué quand d'autres coupons sont présents."

[2015-05-19 15:48] mmoreram commented on #467
@mickaelandrieu I will add the translation, my friend :D Thanks!

[2015-05-19 15:49] mickaelandrieu commented on #467
happy to help ;)

[2015-05-19 15:54] alch opened #470 "Update README.md's template section"
The `template` command no longer works. We should remove it from the README

[2015-05-19 15:58] mmoreram commented on #470
@alch This is blocked by last feature, the Store one, because then there will be another way of doing that , and I am waiting for this feature to be merged to update the docs.

[2015-05-19 16:02] fweber-de commented on #467
@mmoreram `Dieser Gutschein kann nur in Verbindung mit anderen Gutscheinen eingelöst werden`

But **attention**: this is how i understand the sentence, this coupon can only be used **if, and only if** other coupons are used

If it means it can be used in combination, **although** other coupons are present, but also standalone, then i would say

`Dieser Gutschein kann **auch** in Verbindung mit and

[2015-05-19 16:04] mmoreram commented on #467
@fweber-de is right. Hmmm, in english could be...

`This coupon can be applied even when other coupons are present*

[2015-05-19 16:08] fweber-de commented on #467
Then it would be my second translation :)

[2015-05-19 16:09] alch commented on #467
See #471

[2015-05-19 16:10] fweber-de commented on #467
:+1:

[2015-05-19 16:12] mickaelandrieu commented on #467
@mmoreram sorry, so I've updated my translation.

[2015-05-20 06:37] hacfi commented on #467
I can review all the German translations within in the next two weeks. I might post a question here to discuss possible misunderstandings.

[2015-05-20 06:39] fweber-de commented on #467
@hacfi certainly a good idea, 4 eyes might see better than 2 ;)

[2015-05-20 20:58] tonipinel commented on #336
I'm sure it's an interesting feature but right now there are other prios. Don't remove this, maybe anyone has time and can do it. If not, I will do it as soon as posible.

[2015-05-25 10:12] tonipinel commented on #296
It'fixed and already in production

[2015-05-25 10:12] #296 closed

[2015-05-25 16:52] mmoreram commented on #413
The step `Upload a new image` is, right now, impossible to cover.

[2015-05-25 16:52] #413 closed

[2015-05-26 15:09] #457 closed

[2015-05-26 15:09] #312 closed

[2015-05-27 13:04] xphere opened #478 "Redirect responses break ajax requests"
When the response status to an ajax request is a 30x, the callbacks treats this as a success, but it should redirect instead.

**Use case:**
The merchant logs into the admin and enters the template page.
After a few minutes (session expires) makess an ajax request.
The request returns a 302 to the login page.

**Outcome:**
- The `success` callback is executed.

**Expected:**
- The `success` callba

[2015-05-27 13:15] xphere commented on #71
This is fixed and should be closed, but we need to discuss the concept of `Views` with customizable logic. I'll open a new issue for this.

[2015-05-27 13:15] #71 closed

[2015-05-27 13:21] xphere commented on #270
Reping /cc @rogergros

[2015-05-27 13:27] xphere commented on #314
This could be solved with a customizable `View` layer. Should we discuss about this?

[2015-05-27 13:28] xphere commented on #320
Fixed in https://github.com/elcodi/bamboo/pull/458

[2015-05-27 13:28] #320 closed

[2015-05-27 13:30] xphere commented on #342
Remember we need to address this.

[2015-05-27 13:33] xphere commented on #382
Fixed in https://github.com/elcodi/bamboo/pull/477

[2015-05-27 13:33] #382 closed

[2015-05-27 13:34] xphere commented on #383
Should be fixed in https://github.com/elcodi/bamboo/pull/465

[2015-05-27 13:34] #383 closed

[2015-05-27 13:37] xphere commented on #467
Solved by #469

[2015-05-27 13:37] #467 closed

[2015-05-27 13:41] mickaelandrieu commented on #467
@xphere  => @mmoreram have used the first (not as good) translation, can you update to the my last suggestion ? (the meaning is totaly different)

[2015-05-28 06:44] rogergros commented on #270
Nope, the address is still not showed on the checkout preview
![checkout_info](https://cloud.githubusercontent.com/assets/2053670/7854039/c5b911fa-0515-11e5-9893-3594923c7472.png)

[2015-05-28 10:36] rogergros opened #485 "Plugin config"
As a plugin developer I would like to customize the settings page so I can add more info that only the plugin fields.

e.g.
For the stripe plugin I would like to add the possibility to connect via Oauth, so when the plugin is installed I would like to add the connect button.
![stripe_connect](https://cloud.githubusercontent.com/assets/2053670/7858114/03e4418c-0536-11e5-9b4f-be476f22796b.png)

When

[2015-06-02 08:11] alch commented on #485
:+1: for the Oauth (or any form of third-party authorization) in payments. It's the way to go

[2015-06-14 17:38] xub opened #521 "Templates not found"
hi i'm install all but this not found

 $ php app/console elcodi:templates:load
 $ php app/console elcodi:templates:enable StoreTemplateBundle

[InvalidArgumentException]
  There are no commands defined in the "elcodi:templates" namespace.
  Did you mean one of these?
      elcodi:plugins
      elcodi:sitemap
      elcodi:metrics
      elcodi:configuration
      elcodi:exchangerates
      elcodi:l

[2015-06-14 18:24] mmoreram commented on #521
@xub Updated the readme document. Sorry!

Thanks for the feedback

[2015-06-14 18:24] #521 closed

[2015-06-22 14:41] mmoreram opened #534 "Store currency is not being saved"

[2015-06-23 11:39] #534 closed

[2015-06-23 11:45] mmoreram opened #537 "[RFC] Frontend framework"
I've been personally alerted about [FrontendCore](http://www.frontendcore.com/). The project is documented, but there is no community, so people with problems related with the framework is not able to do nothing.

Some people has complained about how difficult is improve the admin because of it, so I open a RFC to discuss if maybe another framework would fit better, in order to make the admin impl

[2015-06-23 12:15] mickaelandrieu commented on #537
ping @ndufreche.

I don't like angularjs but a lot of Symfony developper use the combo sf2+angular.
Maybe raw javascript "but" with a better organisation of files/features and docs could be enough

[2015-06-23 12:18] octante commented on #537
Hi!

great debate. I'm working with elCodi about 2 months, and I'm learning how works backend and frontend yet. For me backend is not a challenge, because I'm a backend, but frontend is more difficult, and normally when I have a problem with frontend code I search the solution in the community.

With FrontendCore is more difficult to search help. Is a very new framework, with a great code and a lo

[2015-06-23 12:26] mickaelandrieu commented on #537
@octante agree for requirejs, jasmine and so on :) there are fine tools we use on backbee/bb-core-js and - as a PHP developper - it's not so hard to work with.

[2015-06-23 12:32] octante commented on #537
@mickaelandrieu Yes, with community and documentation is easy to work with them without a lot of knowledge of frontend, fortunately for backends :)

[2015-06-23 12:46] ndufreche commented on #537
Choose an front end framework is really difficult. I think Angular is not a good solution for open source project, the principal reason is Angular 2 isn't compatible with first version, and that sucks a lot when you want build a tool they need to have a long life.
BackBone is a really good alternative and it is really robust framework and he have a really powerful alternative (exoskeleton)[http://

[2015-06-23 13:10] mmoreram commented on #537
I request as well all @elcodi/owners members.

[2015-06-25 14:17] tonipinel commented on #537
Hi All, as owner of FrontendCore I can't talk about this being objective. But just notice that at this point changing the Frontend framework is a huge task, and it's not just css or js.

Just a few things to comment:
* Even if you want to use your own libraries, frontendcore provides you a great architecture to do it with AMD modules and a DOM boot.
* If you miss any documentation or you have ques

[2015-06-25 14:44] mmoreram commented on #537
This is like when we talk about a product. Elcodi and Bamboo are products, so when we decide the future of any technology we need to think... `ok, that's the best way for the final user`. This is not about developers nor about how agnostic it is the given technology. This is about how many users will understand the framework they are using, so how many of them will really develop a template or a f

[2015-06-26 07:44] octante commented on #537
Hi @tonipinel ,

firstly, thanks for your availability to resolve doubts :) I'm agree that It's not easy to find a frontend framework easy to use for all developers, frontend is not easy at all. FrontendCore resolves a lot of problems with different resources integration and for me is one of the strongest points of this library, but... I think that an open source must be easy to use and extends (a

[2015-06-26 10:51] rogergros commented on #537
Hi all,

From my point of view Bamboo should be a Demo project showing how powerful Elcodi is and showing how the different components and bundles can be used or implemented.

If you decide to use Elcodi you can use Bamboo as a starting point to start your project, at this time you should decide if you want to keep FrontendCore or change to another framework that's better for your team knowledge a

[2015-06-26 11:56] mmoreram commented on #537
@rogergros of course, this conversation is not intended to change the implementation in two days, but to discuss what is the best approach (Indeed is the first time we have this situation).

Bamboo is an implementation for Elcodi, but is as well the implementation where Elcodi plugins and Templates will have more sense. Elcodi growth is based on these functionalities (both), so we should make it a

[2015-07-02 17:42] #470 closed

[2015-07-02 17:49] #439 closed

[2015-07-03 09:16] amaneu opened #548 "A price of 9.87 in bamboo admin is converted to 9.86"
Steps to reproduce:
1. Go to http://bamboo.elcodi.com/admin/product/8/edit
2. Enter 9,87 in the price field for the product
3. Press the "Guardar" button.
4. Go to http://bamboo.elcodi.com/admin/product/8/edit

Produced result:
- The price field shows the value: 9,86

Expected result:
- The price field shows the value: 9,87

[2015-07-03 15:59] mmoreram commented on #548
https://github.com/elcodi/bamboo/pull/549

[2015-07-03 16:00] #548 closed

[2015-07-03 16:50] xphere commented on #548
Even with this fixed in Elcodi, this is a bug in the underlying symfony/form library. /ping @webmozart

[2015-07-13 14:07] rogergros opened #559 "Error on category when moving the product from one category to another"
**How to reproduce it.**
1. Create two categories
2. Create a product on a category
3. Move the product to the second category

**Result:**
* The product appears correctly on the admin
* When you go to the store the product appears on the first category and not on the second one.

**Expected result:**
* The product appears correctly on the admin
* When you go to the store the product appears on th

[2015-07-15 17:07] mmoreram opened #560 "Email improvement"
We've been discussing this topic and there are some points that need some discussion here.

### What variables?

* **Problem**: People are not aware about what variables can use when writing a new email
* **Possible solution**: We could add a new field for some kind of help, translatable and with the responsibility of adding some extra information, like accessible variables or usage of email

## V

[2015-07-15 17:07] mmoreram commented on #560
ping @rogergros @xphere

[2015-07-15 17:10] mickaelandrieu commented on #560
@mmoreram did you see how Zendesk work ?

[2015-07-15 17:11] mmoreram commented on #560
@mickaelandrieu why? Can you add some info please?

[2015-07-15 17:11] mmoreram opened #561 "Coupon usage issue"
Maybe there is a problem when a coupon is used for the first time in an cart, once this cart is properly transformed to an order, the coupon `used` field is not modified.

We should cover this case with some tests, and then provide some solutions if needed

[2015-07-15 17:13] mickaelandrieu commented on #560
sorry => https://support.zendesk.com/hc/en-us/articles/203663236 (create a free account on Zendesk to test the system, imo this is the best configuration email ever seen and not focused on technical people).

[2015-07-16 06:45] rogergros commented on #560
Besides all that there are some other problems:
1. Emails only have title, but that's used to identify the email and as subject. We should have different fields and the one to identify the emails should not be available to be changed from the admin.
2. It should be possible to add html code as a tag. For example if you use {{ order_info }} that prints all the order info (Html table). To do that yo

[2015-07-16 09:56] mmoreram commented on #561
ping @peistur

[2015-07-16 19:48] hacfi opened #563 "Duplicate entry in AdminStoreBundle::getBundleDependencies"
https://github.com/elcodi/bamboo/blob/master/src/Elcodi/Admin/StoreBundle/AdminStoreBundle.php#L67 lists `Elcodi\Admin\CoreBundle\AdminCoreBundle` twice

[2015-07-16 21:06] mmoreram commented on #563
right :)

Can U PR it? ^^

[2015-07-16 21:23] mickaelandrieu commented on #563
@mmoreram was here, created the pull request :)

thank you for report @hacfi , if you already do the PR I'm ok to close mine :+1:

[2015-07-16 21:43] hacfi commented on #563
sorry - no time at the moment..thanks @mickaelandrieu for taking care of this right away!!

[2015-07-16 21:43] #563 closed

[2015-07-26 22:06] adrianhardy opened #566 "Admin / Address & Contact triggers exception"
Brand new composer install of bamboo, visiting "Address & Contact" in the admin system triggers this exception:

I've only been working with Elcodi for about 10 minutes, but it looks like the problem stems from
https://github.com/elcodi/bamboo/blob/master/src/Elcodi/Admin/GeoBundle/Form/LocationSelectorBuilder.php#L22 - there's no such interface in the elcodi components.

[2015-08-21 10:05] fjavier-moreno opened #567 "Checkout mini cart not showing current coupons applied"
Hi!

This issue can only be displayed in address step. Payment step shows right way.

[2015-08-21 10:12] mmoreram commented on #567
@fjavier-moreno Are you using the last Beta version?

[2015-08-21 11:09] fjavier-moreno commented on #567
I've been updated my composer to last version and bug persist. I have also cloned and installed Bamboo store example with same result.

To reproduce it, simply add coupon 5euros (f.e.) and continue to address step. If you continue to payment step, you will check how this bug is no longer occurring.

Thx!

[2015-08-21 12:42] mmoreram commented on #567
@rogergros @xphere Have you ever found the same issue?

[2015-08-25 16:42] mmoreram opened #569 "Remove install.sh file"
In favor of Elcodi installation command

[2015-08-29 17:15] mmoreram opened #571 "[StripePlugin] Check event listener PHPDoc"

[2015-08-29 19:22] spicyroland opened #572 "doctrine:fixtures:load throws Store not found exception in StoreWrapper.php"
Hi Marc and Co,
When i try to load fixtures for a specific entity (ProductData) from console I cannot retrieve a single store. here the stack:
[code]
StoreWrapper get looks like this:
[code]
$stores is empty!!
I debugged the script and to my surprise either doctrine or PDO does not bind ['id' => 1] correctly.
At least when I run the query using doctrine:query:sql
[code]
...I get the correct result

[2015-08-30 16:29] mmoreram commented on #572
Hi there!

Well, yes, this is because you're removing all fixtures (by truncating the database) and you are loading only the Product's ones.
You always need a store to be created, otherwise Elcodi will not work at all.
You can fix it several ways:

* Adding Store fixtures in the dependencies of all other fixtures. We could do that as a core change
* Adding Store fixtures in your `--fixtures` optio

[2015-09-07 07:18] rogergros commented on #567
Nope but I've not been working with coupons for a long time.

[2015-09-07 16:13] mmoreram opened #574 "Change license to Elcodi Networks S.L."

[2015-09-07 16:35] mickaelandrieu commented on #574
what is the interest ?

[2015-09-07 16:36] mmoreram commented on #574
Interest? Well, elcodi will not belongs to Social Networks anymore, but Elcodi Networks instead ;)

[2015-09-07 18:09] mickaelandrieu commented on #574
I mean,  what is the pros and cons regarding the actual MIT license?

[2015-09-07 18:11] mmoreram commented on #574
If the code does not belongs to Room Social anymore, then this license needs to be changed ;)

[2015-09-17 16:27] fjavier-moreno opened #575 "Error when saving / creating category"
![seleccion_005](https://cloud.githubusercontent.com/assets/4962941/9939270/c5ae0556-5d69-11e5-9467-12aa11e878b5.png)

[2015-09-18 10:57] xphere commented on #575
This file was removed in 5bf24a2 and obviously it can't be found anymore.
Also, I don't know if this event should be raised from the controller, but that's another story.
I'd revert this file from a previous commit and make a hotfix.
/cc @mmoreram

[2015-09-18 23:04] EmanueleMinotto opened #576 "Vagrant and Ansible"
Actally I'm getting this error while provisioning, but don't know how to solve it because I've never used Puppet before and with the final error `"Error: Invalid parameter always_apt_update at"` there's only [1 result](https://www.google.co.uk/search?q=%22Error%3A+Invalid+parameter+always_apt_update+at%22) searching on Google.

[code]

Could be a good idea to replace Puppet with Ansible?

[2015-09-19 09:56] mmoreram commented on #576
ping @alch

[2015-09-20 19:55] spicyroland opened #577 "GeoBundle"
Hi,
Can you tell me where you got all the GeoData ([GeoBundle](https://github.com/elcodi/GeoBundle)) for entire spain from?
In order to use bamboo application for a different country I should find similar data (having fields **name, code, type**)
[code]
I already googled but couldn't find something comparable.

Thank you for your help

[2015-09-20 20:18] mickaelandrieu commented on #577
Hi,

all theses data are from the geonames project (see https://github.com/elcodi/elcodi/blob/master/src/Elcodi/Component/Geo/Adapter/LocationPopulator/GeonamesLocationPopulatorAdapter.php#L103) but they are treated to be compliant with the elcodi Geo component.

You can use the command ``elcodi:locations:load`` to load any country you want: in this case, the application will get the file from git

[2015-09-20 20:22] mmoreram commented on #577
@mickaelandrieu thanks :dancer:

@spicyroland Of course, with the second command you can load already generated sql files from this repository called `elcodi/LocationDumps`: https://github.com/elcodi/LocationDumps

Of course, we can generate as much files as possible (is faster to import a dump file than generate them once and again).

Is that what you need?

[2015-09-20 20:51] spicyroland commented on #577
Thanks a lot - this is great!

[2015-09-21 16:39] #577 closed

[2015-09-21 16:39] #574 closed

[2015-09-21 16:42] #575 closed

[2015-09-21 16:43] #572 closed

[2015-09-21 17:17] mmoreram opened #579 "Remove redis as requirement"

[2015-09-21 17:30] mickaelandrieu commented on #579
:+1: this should be a soft dependency

[2015-09-21 23:28] EmanueleMinotto opened #582 "Schema migrations"
I don't see database schema migrations for the production environment, shouldn't migrations be included for the safety of bamboo applications already on production?

Of course to include them should be used the [DoctrineMigrationsBundle](http://symfony.com/doc/master/bundles/DoctrineMigrationsBundle/index.html).

[2015-09-22 09:54] #579 closed

[2015-09-28 19:40] Thalvik commented on #450
I am currently doing Serbian translation. Will create PR when finished. :)

[2015-09-28 19:43] mmoreram commented on #450
@Thalvik LOL! Thanks :dancer: Ask me any question! :D

[2015-09-29 10:43] mmoreram commented on #582
@EmanueleMinotto I give you some tips, but I'm agree about evolve this idea...

* Bamboo should be only a base. Is this really important? I mean, given that this project should only be a base, is there any reason why we really need migrations? Give me some light!
* If the response is "OK 200", then, we should use DoctrineMigrationsBundle? Is there any alternative?

Great reminder!

[2015-09-29 10:44] mmoreram commented on #569
I close this Issue, so this file has other uses.

[2015-09-29 10:44] #569 closed

[2015-09-29 11:43] EmanueleMinotto commented on #582
Oh ok, no it isn't really important if bamboo is a dev/test **only** application, but if someone uses bamboo also in production than schema migrations could become really important:

* `doctrine:schema:update` could cause bad problems on production, and without migrations a developer could be tempted to do it
* moving from bamboo to something else (even if based on elcodi too) is much more easy wi

[2015-10-02 12:48] mmoreram opened #585 "Fix Javascript in base twig file"
https://github.com/elcodi/bamboo/blob/master/app/Resources/views/_base.html.twig#L137

This line, and some lines after it, need the `;` at the end.

[2015-10-05 10:55] mmoreram commented on #576
@EmanueleMinotto Feel free to close this Issue.

[2015-10-05 10:56] #576 closed

[2015-10-05 11:06] mmoreram commented on #566
@adrianhardy Let's take a look :)

[2015-10-05 11:23] mmoreram commented on #561
ping2 @peistur

[2015-10-05 13:47] #585 closed

[2015-10-05 13:48] #571 closed

[2015-10-05 14:25] mmoreram commented on #227
Closing this. Already done in `elcodi:install` console command :)

[2015-10-05 14:25] #227 closed

[2015-10-05 14:25] mmoreram commented on #244
Closing this. All this stuff will be properly created in plugins.
Thanks :)

[2015-10-05 14:25] #244 closed

[2015-10-05 14:26] mmoreram commented on #245
@xphere @tonipinel @rogergros did we do that?

[2015-10-05 14:26] #243 closed

[2015-10-05 14:27] #253 closed

[2015-10-05 14:28] mmoreram commented on #485
@rogergros did you solve this in Shopery? How?
Thanks!

[2015-10-05 14:30] mmoreram commented on #582
@EmanueleMinotto Great!
Then, that's a good idea!

What we could do here is provide the interface of doing that, and why not, turn all our Fixtures into one single migration.

Do you want to take care of it?

Thanks man!

[2015-10-05 14:58] tonipinel commented on #245
From my point of view it's totally necesary ;)

[2015-10-05 15:00] mmoreram commented on #245
@tonipinel but is done in Shopery?

[2015-10-06 07:23] EmanueleMinotto commented on #582
Sure I can :+1:

[2015-10-06 09:18] mmoreram commented on #582
You rock man... :dancers:

[2015-10-06 10:40] rogergros commented on #485
I think that @tonipinel solved that. He added a render for a "header" and a "footer" template for the config and in case the plugin contains this template it renders the content.

[2015-10-06 14:29] mmoreram commented on #485
@rogergros But this is solved in Bamboo?

[2015-10-06 16:10] rogergros commented on #485
I don't think so but as I said the right guy to ask that is @tonipinel

[2015-10-06 16:11] mmoreram commented on #485
so... @tonipinel ?

[2015-10-07 11:09] janit commented on #450
I will work on Finnish.

[2015-10-07 11:10] mmoreram commented on #450
@janit :dancers:

[2015-10-09 11:51] mmoreram opened #594 "Use new CartManager methods instead of deprecated ones"
* Use addPurchasable and removePurchasable

[2015-10-11 20:58] #582 closed

[2015-10-11 21:00] #561 closed

[2015-10-14 14:32] mmoreram commented on #485
Thanks.

[2015-10-14 14:32] #485 closed

[2015-10-14 14:39] #537 closed

[2015-10-14 14:41] mmoreram commented on #449
@rogergros did you fix that?

[2015-10-14 15:21] #566 closed

[2015-10-14 15:57] mmoreram opened #601 "Add appveyor configuration"
- [ ] Add appveyor configuration file
- [ ] Add elcodi/elcodi as a project in appveyor
- [ ] Add the badge in the repository

[2015-10-14 16:06] mmoreram commented on #601
Badge: [![Build status](https://ci.appveyor.com/api/projects/status/o6tiwno8tw4om86h/branch/master?svg=true)](https://ci.appveyor.com/project/mmoreram/bamboo/branch/master)

[2015-10-14 16:11] javiereguiluz opened #602 "Issues when installing Bamboo/Elcodi"
I'm testing the installation instructions provided by the shiny new Elcodi.io website. Sadly I've found some issues.

-----

1) `composer create-project elcodi/bamboo bamboo -sdev`

No problem. Everything works great.

-----

2) `php app/console elcodi:install`

Queries are correctly executed.

Then, fixtures are loaded:

[code]

And then these errors happen:

[code]

Then everything works again:

[2015-10-14 22:58] #594 closed

[2015-10-15 10:05] rogergros commented on #449
Nope, we have the same problem here.

[2015-10-15 10:58] mmoreram commented on #449
@rogergros Okay, lets fix it all together.

Is that OK for you?
Any tips about how to fix that?

[2015-10-15 11:34] mmoreram commented on #601
@EmanueleMinotto can you add this configuration as well?

Thanks :)

[2015-10-15 12:11] janit commented on #450
Finnish is no longer WIP ;)

[2015-10-20 15:34] EmanueleMinotto commented on #602
@javiereguiluz probably memory usage needs a more in depth investigation, can you try the (not yet) documented way using Vagrant? Just do a `vagrant up` from the *vagrant/* subdirectory and once completed you should see it from http://10.10.10.10/app_dev.php/

[2015-10-21 06:33] javiereguiluz commented on #602
@EmanueleMinotto sorry, no Vagrant for me.

[2015-10-22 16:32] mmoreram opened #606 "[Template] New shop template"
**Blocked by [https://github.com/elcodi/elcodi/issues/934](https://github.com/elcodi/elcodi/issues/934)**

Once the documentation is ready, then a new template has to be done.

[2015-10-23 11:03] mmoreram opened #607 "Integration with Heroku"
Related PR: https://github.com/elcodi/bamboo/pull/620

Testing: https://dashboard.heroku.com/new?template=https%3A%2F%2Fgithub.com%2Felcodi%2Fbamboo%2Ftree%2Ffeature%2Fheroku-deploy

[2015-10-23 13:30] EmanueleMinotto opened #609 "Replace default storage DBMS"
To simplify the installation of bamboo on local environment I would recommend to use SQLite instead of MySQL.

This could also reduce the requirements on development.

[2015-10-23 22:23] mickaelandrieu commented on #609
Ping @mmoreram you already know I'm :+1: but didn't remember why you didn't want

[2015-10-26 12:39] mmoreram commented on #609
Well, SQLite is even more difficult to install than mysql :/
What do U think?

[2015-10-26 13:22] mickaelandrieu commented on #609
@mmoreram I think that we have more chance to have MySQL installed instead of SQLite :)

[2015-10-26 13:36] EmanueleMinotto commented on #609
Probably I'm misunderstanding what you mean guys, but afaik SQLite doesn't need to be installed nor it's so few supported, so only the `"ext-pdo_sqlite": "*"` is required.

Quoting https://www.sqlite.org/different.html :

[2015-10-26 16:12] mickaelandrieu commented on #609
Same problem as before, we can't add SQLite as a requirement, as SQLite is not a requirement xD.

[2015-10-26 16:24] EmanueleMinotto commented on #609
hehe that's right @mickaelandrieu, but I think that installing the SQLite PDO and changing the configuration would be enough

[2015-11-02 12:22] mmoreram commented on #245
@tonipinel thanks for your help.

[2015-11-02 12:22] #245 closed

[2015-11-02 12:24] #311 closed

[2015-11-02 12:25] #190 closed

[2015-11-02 12:25] #136 closed

[2015-11-02 21:27] nubeiro opened #611 "Use RFC 2606 compliant sample data."
Sample data uses real domains (customer.com, admin.com).
We could make use of http://tools.ietf.org/html/rfc2606.

[2015-11-02 21:33] novadaemon commented on #602
The same error happened to me right now (10/2/2015)

[2015-11-02 21:36] mmoreram commented on #602
@novadaemon

Hmmm, wow, same one?
Can you provide us a little bit of your environment?

Thanks :)

[2015-11-02 21:39] javiereguiluz commented on #602
@mmoreram I forgot to mention that my environment is Mac OS X and this is the PHP version:

[code]

[2015-11-02 21:49] novadaemon commented on #602
@mmoreram My environment:
Windows 10 x64, WampServer Version 2.5
PHP 5.5.12 (cli) (built: Apr 30 2014 11:20:58)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2014 Zend Technologies
    with Xdebug v2.2.5, Copyright (c) 2002-2014, by Derick Rethans

First error happen with paths to fixtures:
  [InvalidArgumentException]
  Could not find any fixtures to load in:
  - D:

[2015-11-02 21:50] mmoreram commented on #602
Oh, different environments... than makes it more difficult.
Okay, I will take care of that tomorrow morning.

Thank you guys! :)

[2015-11-02 21:56] novadaemon commented on #602
@mmoreram Thanks a lot.

[2015-11-02 22:27] mmoreram opened #612 "Take a look at https://platform.sh/ for possible integration"

[2015-11-02 22:40] mmoreram opened #613 "Create Similar products plugin"
Product component could have an interface for that (Adding a collection of products, return n similar products).
We should take in account the user as well, so we really must to think about where we add this interface.

- [x] Deprecation implementation from Bamboo
- [x] Create the service and the interface in Elcodi Product Component - https://github.com/elcodi/elcodi/pull/957
- [x] Documentation

[2015-11-03 21:09] nubeiro opened #614 "Add php5-sqlite to Vagrant provisioning."
Running phpunit tests with default provisioning I get the following:
PDOException: could not find driver

Adding php5-sqlite to provisioning solved the issue for me.

[2015-11-04 01:29] kolmanpav opened #616 "Bad route in checkout-payment.html.twig template"
When someone create more than one shipping method than error occures on the third page of cart (on checkout-payment.html.twig template).

An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "store_checkout_shipping_range_apply" as such route does not exist.") in StoreTemplateBundle:Pages:checkout-payment.html.twig at line 23.

You must rep

[2015-11-04 02:10] EmanueleMinotto commented on #616
Was solved in https://github.com/elcodi/bamboo/commit/22bb156582779a598fbc2133bc223e89d4900469

@kolmanpav check https://github.com/elcodi/bamboo/blob/master/CHANGELOG-1.0.md and ping me (on [Gitter](https://gitter.im/elcodi/elcodi)) if you need a help migrating your codebase

[2015-11-04 02:10] #616 closed

[2015-11-04 22:04] #601 closed

[2015-11-04 22:07] mmoreram opened #618 "Add AppVeyor badge in Bamboo repo"

[2015-11-04 22:08] #614 closed

[2015-11-04 22:26] mmoreram opened #619 "Enable all available languages"
Some languages have been introduced the last 3 months.
We should enable these language by default in fixtures and in migrations.

[2015-11-08 14:56] #618 closed

[2015-11-08 17:42] #607 closed

[2015-11-10 07:22] rodrigoriera commented on #602
Hi, I just ran into the same problem on my mac and I got a quick solution for this.
With the mysql CLI go and set the max allowed size to a bigger size :

mysql> set global max_allowed_packet=1024*1024*16; (In my case).

and then just give it more memory to the php command.

php -d memory_limit={limit}M app/console elcodi:install.

Hope this helps !

[2015-11-12 07:18] kodermax opened #628 "I can't see save button"
When i use debug mode i can't see save button in admin panel
http://prntscr.com/91u61i

[2015-11-12 14:46] kodermax opened #629 "Gitgub oauth doesn;t work"
Authorization through github doesn't work.

[2015-11-12 16:42] kolmanpav opened #630 "Problem with description editor in administration"
I enable two language in administration. I go to some product detail in administration. There are 2 tabs with description of products. I have some simple text in MS word with some bold characters. When I paste the text into the first tab with description then the formating is cleared and text is duplicated twice ))
Everything is correct in the second tab with the second language  But this problem

[2015-11-12 21:36] mickaelandrieu commented on #630
Hi!  Thank you very much for this complete scenario.

@mmoreram probably a javascript issue, I can take a look the next week if you can't.

[2015-11-16 10:44] mmoreram opened #632 "Allow current admin to change own password from admin UI"

[2015-11-17 09:14] nubeiro commented on #632
Allow current admin to change own password from admin UI

[2015-11-17 11:22] EmanueleMinotto commented on #619
What if we use https://github.com/h4cc/AliceFixturesBundle instead of writing custom and fixed fixtures?

[2015-11-17 11:24] mmoreram opened #635 "Failure when uploading a new product"
In product edition, when a new image is added, sometimes we have a failure, and image is not added in the gallery. Furthermore, when the uploading process is OK and the new image doesn't appear, the form can't be saved, so is impossible to save introduced new data. When this happens, it redirects again to product view instead of product list.

[2015-11-17 23:35] mmoreram opened #637 "Specific "Go to web" first page in Heroku"
Right now, in Heroku we're creating a clean installation. This means no products.
After the new site is generated, you have a button saying "Go to the web", but this link goes to the homepage, with no products.

* We should find a way of defining this first link, and redirect it to xxx.herokuapp.com/admin

[2015-11-18 23:05] #637 closed

[2015-11-18 23:52] #632 closed

[2015-11-18 23:52] EmanueleMinotto opened #643 "Disable not safe passwords"
Every password must follow some rules to be safe.

My proposal is:
* 8 characters of minimum length
* contains both alphabetic and numeric characters

[2015-11-18 23:54] mmoreram commented on #643
People should have the opportunity to add their password, no matter how good or how bad it is.
What I propose is to create a plugin for showing people how strong/weak is their password :)

[2015-11-19 00:17] EmanueleMinotto commented on #643
So no minimum level of security? An admin could set a password of 1 character in this moment :\
If it's ok for a plugin no problem :+1: this issue can be closed than.

[2015-11-19 00:46] #619 closed

[2015-11-19 06:40] kodermax commented on #632
When i enter wrong password and i not fill current password, i don't see errors on display.

[2015-11-19 06:53] kodermax opened #644 "Clean cache button"
I'd like to see button in the admin panel which clean cache.

[2015-11-19 10:23] kolmanpav commented on #630
Hello, do you have any news about this bug?

[2015-11-19 12:27] mmoreram commented on #644
That would be amazing, indeed.
Do you want to create this feature?
We're using a bundle called [CacheFlushBundle](https://packagist.org/packages/mmoreram/cache-flush-bundle) for this :)

[2015-11-19 13:53] kodermax commented on #644
Ok, no problem.

[2015-11-20 01:21] mmoreram commented on #630
Not yet, sorry :(

[2015-11-27 09:19] gerfigna opened #645 "PaymentBridge crashes when try to checkout a variant"
src/Elcodi/Bridge/PaymentSuiteBridgeBundle/Services/PaymentBridge.php at line 241
$orderLineName = $orderLine
->getPurchasable()
->getName();

Perhaps it is best to move the title attribute to the purchasable interface, is it?

[2015-11-27 10:15] gerfigna opened #646 "Shopping cart gets empty when cancel payment process"
When users returns from payment platform without do the payment, the shopping cart is empty

[2015-11-28 19:23] kodermax opened #648 "Show version elcodi"
i suggest show version elcodi in admin panel.

[2015-11-28 19:28] kodermax opened #649 "show notifiy about new version"
I suggest show notify about new version elcodi in admin panel.

[2015-11-30 15:07] mmoreram commented on #648
Yes, we could work on a plugin that can be a Symfony toolbar gadget :)
We could place there everything related to Elcodi.
Starting this gadget would be amazing :)

[2015-12-01 06:48] kodermax commented on #644
It's done!

[2015-12-02 17:04] fjavier-moreno opened #655 "DateTime / Hour widget display issue on coupon section."
You can view this issue in http://bamboo.elcodi.com/admin/coupons and editing a coupon.

![captura de pantalla de 2015-12-02 17 56 23](https://cloud.githubusercontent.com/assets/4962941/11537757/de65577a-991e-11e5-836d-e685c396ba19.png)

[2015-12-05 17:21] axelvnk commented on #602
This should be closed I think, install command is working fine now.

Although installing the fixtures manually still causes mysql exceptions on my end. Currency USD is added twice for some reason and gives an error on primary key constraint. Maybe a separate issues should be made and this one closed.

[2015-12-05 17:22] axelvnk opened #656 "Loading doctrine fixtures manually throws mysql exceptions"
When executing php app/console doctrine:fixtures:load , the command breaks off on adding currency data. USD is already used as a primary key. For some reason it is added twice. I already forked so I'll try and figure it out.

[2015-12-05 19:53] EmanueleMinotto commented on #656
Hi @axelvnk, first of all: thank you for your help!
Can you also add the console output you see?

[2015-12-05 19:55] EmanueleMinotto commented on #649
This could be integrated into https://github.com/elcodi/bamboo/issues/648 (even without closing this issue)

[2015-12-06 16:27] axelvnk commented on #656
<img width="1017" alt="screen shot 2015-12-06 at 17 25 29" src="https://cloud.githubusercontent.com/assets/6803540/11614289/66cd4bdc-9c3e-11e5-82cc-109fca1fd2c6.png">

Now it's the languages for some reason.. But same kind of error.

[2015-12-07 18:40] mmoreram commented on #612
ping @EmanueleMinotto :dancer:

[2015-12-07 20:13] rodrigobb commented on #602
Same issue here. Very similar output than @javiereguiluz. And I'm also in Mac OS X

[code]

@rodrigoriera workaround also worked for me. Btw, my package limit prior was

[code]

[2015-12-07 23:01] mmoreram opened #658 "Twig extensions are loaded everytime the Kernel boots"
Even if they are not used, they are instanced.
This has no sense, so some of them use database and a lot of services.
This is new, so starts being break since Symfony 2.8.

[We have this problem because we're using some database queries even when the database is not created at all]

Solutions should be adding them all as lazy services (bad idea, in fact, we should not change the service definition

[2015-12-08 17:44] mmoreram commented on #644
do we have any PR about that?

[2015-12-08 17:44] #613 closed

[2015-12-08 17:45] #643 closed

[2015-12-08 17:47] mmoreram commented on #656
@axelvnk well, this is because fixtures are not being loaded properly.

Use only fixtures from the Fixtures and Plugins folder

[code]

[2015-12-08 17:47] #656 closed

[2015-12-08 17:49] #645 closed

[2015-12-08 19:05] kodermax commented on #644
Ok, I'll make PR tomorrow.

[2015-12-09 06:21] kodermax opened #659 "Translation not found."
```Context: { "id": "admin.menu.custom_shipping", "domain": "messages", "locale": "en" } ```

\src\Elcodi\Plugin\CustomShippingBundle\Builder\MenuBuilder.php

[2015-12-14 12:35] mmoreram commented on #659
@kodermax can you add the english translation using the translation-server?

[2015-12-16 11:15] gerfigna opened #666 "Payment info is not stored"
I need to access to payment method extra data, like Transaction Id on a Stripe payment, but it seems not available on Order entity. It have payment_method and payment_method_extra fields, but they are empty every times.

This info is available on the PaymentMethod provided by PaymentBridge, but there is no Listener that store these data.

[2015-12-28 13:14] gerfigna opened #668 "Fixtures currency error"
The Custom Shipping method prices are configured in EUR.
Product prices are in USD

When you try to pay with PaypalWebCheckout
// Elcodi\Bridge\PaymentSuiteBridgeBundle\Services\PaymentBridge.php
// Line 287
$this->order->getShippingAmount()->isGreaterThan(Money::create(0, $currency)

throws an CurrencyMismatchException

[2016-01-04 17:17] richardpq opened #669 "Moving a product from one category to another"
This is how I got this bug (I haven't try other ways):
1) Create a new category and move it under another.
2) Select a product and change it to that subcategory.

When you go to the shopping page, and click in that subcategory, the product is not listed.

Digin into the issue I found that the table 'product_category' was not updated

[2016-01-11 18:48] mmoreram commented on #659
This issue is solved in https://github.com/elcodi/bamboo/pull/670

[2016-01-11 18:49] mmoreram commented on #644
ping @kodermax any update?

[2016-01-11 18:50] mmoreram commented on #628
Well, debug bar is too invasive... Just close the debug bar :)

[2016-01-11 18:50] #628 closed

[2016-01-11 18:53] mmoreram commented on #630
ping @kolmanpav

The text is malformed and is duplicated as many times as languages we have enabled.

Good issue :) Sorry for that delay, we will fix this asap.

[2016-01-11 18:54] mmoreram commented on #630
ping @tonipinel

Could you please take a look at that? is something really strange...

Thanks :)

[2016-01-11 19:06] mmoreram commented on #655
@fjavier-moreno I can see it properly in my computer.

ping @tonipinel
Is this problem related to frontendcore or just to the browser itself?
Anyway, is this solvable somehow?

Thanks.

[2016-01-11 22:09] castler commented on #602
+1 here.

Windows 8.1 Pro

Using XAMPP:

PHP 7.0.1 (cli) (built: Dec 16 2015 13:36:30) ( ZTS )
Copyright (c) 1997-2015 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2015 Zend Technologies
    with Xdebug v2.4.0RC3, Copyright (c) 2002-2015, by Derick Rethans

@mmoreram do you have an idea what the problem could be?

[2016-01-14 14:53] mmoreram commented on #602
I've investigated a little bit about this, and seems that the @rodrigoriera answer is the right one.

[code]

would be nice if this question is indexed in stackoverflow :)

Closing it.

[2016-01-14 14:53] #602 closed

[2016-01-14 16:59] #659 closed

[2016-01-17 05:39] kodermax commented on #644
there is https://github.com/elcodi-plugins/ClearCacheBundle

[2016-01-19 16:26] mmoreram commented on #658
Seems to be fixed in new Symfony 2.8 version.

[2016-01-19 16:26] #658 closed

[2016-01-19 17:55] #644 closed

[2016-01-19 17:56] mmoreram commented on #646
What should be the behavior?

* Remove the generated order?
* Keep the order unpaid and keep the cart?

[2016-01-31 17:12] kolmanpav commented on #630
Hello, do you have any news about this bug?

[2016-01-31 17:15] mmoreram commented on #630
AFAIK, @tonipinel is on it :)

[2016-02-01 09:11] tonipinel commented on #655
This problem is because @fjavier-moreno 's browser doesn't have a native date time component and it's using a polyfill, but it seems there is a problem with the overflow hidden properties. I will include in a PR with some other bug fixing soon.

[2016-02-01 09:13] tonipinel commented on #655
@mmoreram can you assign this to me?

[2016-02-01 11:57] tonipinel commented on #630
Yes, it's a bug on Frontendcore. I just solved it and I will create a PR with this and other bugs fixed soon.

[2016-02-01 16:58] LuigiElleBalotta opened #678 "Copyright"
Update Copyrights to 2015-2016, you forgot that

Issue Level Type: Very Low

[2016-02-01 17:15] mmoreram commented on #678
Absolutely right @LuigiElleBalotta :D:D:D

Thanks!

[2016-02-01 17:54] mmoreram commented on #678
@LuigiElleBalotta https://github.com/elcodi/bamboo/pull/679 :D

[2016-02-01 18:12] LuigiElleBalotta commented on #678
No problem :)

[2016-02-01 18:48] mmoreram commented on #668
@gerfigna Good catch!

[2016-02-01 18:50] mmoreram commented on #609
@EmanueleMinotto Doctrine migrations doesn't work with sqlite :( So, for me, it's a :-1:

[2016-02-01 18:51] mmoreram commented on #666
@gerfigna could you please check this scenario again?
If is fixed, could you please close it?
Otherwise, ping us :)

Thanks!

[2016-02-01 18:51] #678 closed

[2016-02-01 18:53] #314 closed

[2016-02-01 18:54] mmoreram commented on #286
We should manage this.

[2016-02-01 19:02] mmoreram commented on #630
@kolmanpav merged. Can you please check this and close the issue if is solved?

Thanks.

[2016-02-01 19:02] mmoreram commented on #655
@fjavier-moreno  merged. Can you please check this and close the issue if is solved?

Thanks.

[2016-02-02 09:35] youssefsimon opened #681 "while installation Store not found."
i working on windows 10
while installation in composer this exception appear

this is copied form composer

  [InvalidArgumentException]
  Could not find any fixtures to load in:
- C:wampwwamoTesstpp/../src/Elcodi/Plugin/
- C:wampwwamoTesstpp/../src/Elcodi/Fixtures

Installing assets for Elcodi\Plugin\StripeBundle into web/bundles/elcodistripe
Installing assets for Elcodi\Plugin\CustomShippingBund

[2016-02-05 13:58] mmoreram commented on #681
Would be nice to have the log :)

[2016-02-05 14:08] mmoreram commented on #646
@gerfigna

[2016-02-05 20:39] mkarakeh commented on #681
+1

[2016-02-06 12:18] fabirus commented on #602
hello i tried your solution but i have this error everytime
my command is `php -d memory_limit=100M app/console elcodi:install.`
 `PHP Fatal error:  Allowed memory size of 10485760 bytes exhausted (tried to allocate 12288 bytes) in /opt/lampp/htdocs/testEcommerce/bamboo/vendor/symfony/symfony/src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php on line 482
`

[2016-02-06 14:49] axelvnk commented on #602
@fabirus why would you execute it with less memory than default. Try with 256M.

[2016-02-06 15:52] fabirus commented on #602
the same problem.. i used ubuntu with lampp
error message
`[Doctrine\DBAL\Exception\DriverException]
  An exception occurred while executing 'SELECT t0.iso AS iso_1, t0.name AS n
  ame_2, t0.enabled AS enabled_3 FROM language t0 WHERE t0.enabled = ?' with
  params [1]:
  SQLSTATE[HY000]: General error: 2006 MySQL server has gone away`
`[Doctrine\DBAL\Driver\PDOException]
  SQLSTATE[HY000]: General

[2016-02-06 16:06] fabirus commented on #602
i get the solution bad config with mysql

thanks you!!!

[2016-02-06 16:42] fabirus opened #682 "Add new currency"
Hello, please how can add new currency??
e.g : FCFA for african country
thanks !!

[2016-02-06 17:07] fabirus opened #683 "override template !!"
hello please how can override store template??

thanks!!!

[2016-02-06 23:05] kolmanpav commented on #630
Hello, I update my composer and bower. I found new version of frontendcore. When I start my administration, the editor is not loaded because some another js file is needed and it is not present. Here is the error message: http://127.0.0.1:8000/bundles/admincore/js/modules/devicePackage.js?v=100 404 (Not Found)

[2016-02-06 23:13] kolmanpav commented on #630
Can you send me some info where can I download devicePackage please?

[2016-02-08 11:31] tonipinel commented on #630
@kolmanpav let me check, because this js file is no longer needed in the new versions of frontendcore. Anyway it's a good idea to update frontendcore to the last stable version, I will do a PR soon.

[2016-02-08 20:37] ValentinMerlet opened #684 "MySQL 5.7 incompatibility ONLY_FULL_GROUP_BY"
MySQL 5.7.5 came with [ONLY_FULL_GROUP_BY](http://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by) SQL Mode which seems to implose my little bamboo :sob:

See below :
`SQLSTATE[42000]: Syntax error or access violation: 1055 Expression # 46 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'bamboo.i7_.id' which is not functionally dependent on colum

[2016-02-09 11:18] mmoreram commented on #684
@ValentinMerlet oups...

This error is not related to Elcodi itself but to Doctrine. Elcodi is built on top of Doctrine, so we should check how this new MySQL version breaks Doctrine.

[2016-02-09 11:18] mmoreram commented on #682
@fabirus HI there!

You should be able! Let me check and I will get back to you during today...

Thanks :)

[2016-02-09 12:58] mmoreram commented on #683
You can use the StoreOverrideBundle if you want to define an entire new template or StoreFallbackBundle if you want to use the default one and overwrite some parts of it.

What does it mean? Well, use `app/Resources/StoreOverrideBundle/views/` for your new template or `app/Resources/StoreFallbackBundle/views/` for overwritting the default one :)

[2016-02-09 14:28] mmoreram commented on #682
@fabirus Can you add the currency [Here](https://github.com/elcodi/bamboo/blob/master/src/Elcodi/Fixtures/DataFixtures/ORM/Currency/currencies.yml)?

Thanks :D

[2016-02-10 09:22] fjavier-moreno commented on #655
Great. Fixed.

Thxs team!

[2016-02-10 09:22] #655 closed

[2016-02-12 19:17] youssefsimon opened #685 "override entity alter table"
i want to alter table value by override entity i do what is write in docs but it tell me

  [Doctrine\DBAL\Schema\SchemaException]
  The table with name 'bamboo.value' already exists.
if you have any idea
this config file
elcodi_attribute:
    mapping:
        attribute:
            # Product entity implementing ProductInterface
            class: Elcodi\Admin\AttributeBundle\Entity\NewValue

[2016-02-12 19:26] youssefsimon commented on #685
i fixed by elcodi_attribute:
    mapping:
        value:
            # Product entity implementing ProductInterface
            class: Elcodi\Admin\AttributeBundle\Entity\NewValue
            # Doctrine manager name
            mapping_file: '@AdminAttributeBundle/Resources/config/doctrine/Value.orm.yml'
            # Doctrine manager name
            manager: default
            # Is this entity

[2016-02-12 19:26] #685 closed, assigned to nobody

[2016-02-14 13:50] youssefsimon opened #686 "override the controller"
how can override this controller
or it cant be overrided
elcodi/admin/attributeBundle/controller/component/AttributeComponentController.php

[2016-02-14 20:03] #686 closed, assigned to nobody

[2016-02-14 20:04] youssefsimon opened #687 "when open admin not stop loading"
i work on windows 10
when open admin not stop loading and after that not open the admin

when i open php_error.log
PHP Fatal error:  Maximum execution time of 700 seconds exceeded in  app\cache\dev\classes.php on line 417

[2016-02-15 16:26] mmoreram commented on #687
Can you check that your memory limit in PHP is enought?

[2016-02-16 15:11] erixo964 commented on #681
i have same problem. pls help
http://prntscr.com/a40wf8
http://prntscr.com/a40wo4

[2016-02-16 18:10] youssefsimon commented on #687
i raised the memory limit still the problem

[2016-02-16 18:11] mmoreram commented on #687
I need more information in order to understand the problem. Otherwise, I will not be able :(

[2016-02-16 18:12] youssefsimon commented on #687
okay it open all admin links except the dashboard link it still loading

[2016-02-29 20:54] fbaldo31 commented on #681
Hi i had the same problem and i solved it by creating the store line in phpmyadmin. You have to create a currency and a language before.

[2016-02-29 20:56] fbaldo31 opened #688 "Installation Error: Call to a member function getBundleName() on null"
Hi, after installing on local, i had to create a line in the store table to be abble to run app_dev.php, then i get this error message: Error: Call to a member function getBundleName() on null at C:\xampp\htdocs\bamboo\app\cache\dev\appDevDebugProjectContainer.php line 21628
Clearing the cache didn't solved it.
I made several updates, i had to require visithorbundle and after installing and cleari

[2016-03-04 11:39] youssefsimon commented on #687
i install redis cache and it working fine with me

[2016-03-04 11:39] #687 closed, assigned to nobody

[2016-03-19 09:26] martinknor commented on #681
resolution: [here](https://github.com/elcodi/bamboo/pull/689)

[2016-03-21 09:27] ufhy commented on #602
[code]

[2016-03-21 16:39] ostark commented on #602
Similar error here (local Mysql 5.5 (Mac) and remote Mysql 5.6 (RDS))

[code]

`set global max_allowed_packet=500000000;` solved it

[2016-04-01 17:10] bertinl0609 opened #690 "installation problem:"
When launching install, it works until it creates the project

Here is the log:

[2016-04-04 19:52] gorkalaucirica commented on #688
Same here,

I get the following error:

[code]

It seems that mysql crashes, timeouts and therefore installation fails and leaves without loading the plugins (causing the error in the comment above). I commented out the `loadLocations()` method in elcodi:install command and everything seems to work fine.

[2016-04-08 08:04] gorkalaucirica opened #691 "Cannot persist categories and manufacturers"
When I try to persist any of this entities it seems that the form is not filled properly. Request receives data properly but entity is not filled. This results in a SQL error as name cannot be null.

![captura de pantalla 2016-04-08 a las 10 00 47](https://cloud.githubusercontent.com/assets/1749891/14377605/e63a3694-fd70-11e5-8279-8fa997ab7583.png)
![captura de pantalla 2016-04-08 a las 10 01 07](

[2016-04-08 21:07] bertinl0609 commented on #690
problem was linked to composer...

[2016-04-08 21:07] #690 closed, assigned to nobody

[2016-04-10 07:06] cristhianbarros commented on #681
To solve this error, use this command-> php app/console doctrine:fixtures:load --fixtures="src/Elcodi/Fixtures" --no-interaction

[2016-04-20 08:47] StefanNiederkofler commented on #646
@mmoreram the usual behavior would be to let the order unpaid and keep the cart

[2016-05-11 19:48] razzaghi commented on #572
I have same issue. how can i solve in other word how can i add store?

[2016-05-23 05:44] razzaghi opened #693 "How to add new bundle or plugin?"
Hi dear i want to add new bundle or plugin but command php app\console generate:bundle is not exist in cosole. please help me to do that. thanks

[2016-05-23 05:46] razzaghi opened #694 "How to override entity like product , user?"
Hi Dears,
I want to change entity by overriding them . any one can say me how can i to do that?

[2016-05-25 13:40] johnkrovitch opened #695 "Saving the store address is not working"
Hi,

I'm trying to change the address of the store, but nothing is happening. The backoffice says that the store is saved, but in database, no changes are done.

It seems like the relation between Store and Address is missing the cascade attribute, but even with this attribute, it is not working.

If someone has an idea. I try to make a PR if I find a solution.

Thanks

[2016-05-25 14:02] johnkrovitch commented on #695
The problem seems to be in the StoreBundle\Controller\StoreController :

[code]

[2016-05-31 11:53] davidlc17 opened #697 "Modificar Entidad"
Hola Mark,

Querría saber como puedo modificar una entidad para añadir un nuevo campo.

[2016-05-31 12:01] #697 closed, assigned to nobody

[2016-06-24 09:43] AcelisWeaven commented on #681
@cristhianbarros Thanks, your contribution helped me a lot. I still had an issue because plugins weren't loaded, so I had to use these commands:

[code]

[2016-06-28 15:24] johnkrovitch commented on #695
It is maybe not the good place to make PR ?

[2016-06-28 15:27] johnkrovitch opened #698 "Is this repository dead ?"
Hi,

I found some bugs in the current Elcodi/Bamboo version, I'll glad to contribute to fix it, but the repository seems to be dead (no activity in the past 2 months).

Is the repository still alive ?

[2016-06-28 15:36] fabiolor commented on #698
Same problem. I forked the project to fix bugs (https://github.com/fabiolor/bamboo) but no one merges my pull requests. If you want we can do teamwork and fix/evolve elcodi by ourselves...

[2016-07-07 18:49] gonzaloalonsod commented on #698
+1 https://github.com/MWSimple/bamboo
+1 https://github.com/MWSimple/elcodi
- Si por el momento agrego a packagist los repo y desarrollamos sobre los mismos???, hasta que retomen el proyecto, ojala sea pronto!
- If by the time packagist added to the repo and develop on them???, until they resume the project, hopefully be soon!

[2016-07-10 08:44] fabiolor commented on #698
Do you want to add one of our repos to packagist? I tried that but I was not able to do that...

[2016-07-11 10:58] gonzaloalonsod commented on #698
Si los agrego a los 2 y trabajamos sobre ellos hasta que se retome el proyecto master.
If I add 2 and work on them until the master project be resumed.
https://packagist.org/packages/mwsimple/elcodi
https://packagist.org/packages/mwsimple/bamboo

[2017-02-10 22:01] alejandroguille opened #700 "Url fail - /es/admin/carriers"
An exception has been thrown during the rendering of a template ("Parameter "id" for route "admin_admin_user_edit" must match "\d+" ("" given) to generate a corresponding URL.") in @AdminCore/Navs/side.html.twig at line 35.

[2017-03-06 17:57] alanrivetta opened #701 "Elcodi in an existing project"
Hello!

I would like to know if there is any guide on how to install the bundle in an existing project

Thanks!!